
/* Set the size of the div element that contains the map */
#map {
  height: 600px;  /* The height is 400 pixels */
  width: 80%;  /* The width is the width of the web page */
  margin-left: 10%;
  margin-right: 10%;
}

.mapContainer{
  padding-top:3rem;
  padding-bottom: 3rem;
}

.searchBarStyle{
  text-align: center;
  min-height: 80px;
  background-color: #fff;
  margin-left: 10% !important;
  margin-right: 10% !important;
}
.searchBarLabel{
  color: #319FBA;
  font-size: 2rem;
}

.searchColumn{
  padding-top: 1.5rem !important;
}
.searchInput{
  width:50%; margin-left: 3rem; 
  min-height: 42px; 
  border-radius: 10px; 
  border: 0px !important; 
  padding: 0px 1rem;
  font-size: 1.7rem;
  color:#555;
}
.searchBtn{
  background-color: grey;
    border: 0px;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: 3rem;
    padding: 1rem 2.6rem;
    margin-right: 1rem;
}
.searchBtnFalse{
  background-color: transparent;
    border: 0px;
    color: #000;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: 3rem;
    padding: 1rem ;
    margin-right: 1rem;
}
.searchInput:focus, .searchSelect:focus{
  -webkit-outline-width: 0 !important;
  outline-width: 0 !important;
}
.searchSelect{
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border: 1px #aaa solid !important; 
    -webkit-appearance: none !important;
    -webkit-background-color:#fff !important;
    -webkit-border-radius: 10px !important; 
    -webkit-border: 1px #aaa solid !important; 
    background: url(../image/phase2/Desktop/dropdownBtnGrey.png) no-repeat;
    background-position: 95% 50%;
    background-size: 20px 14px;

}
.searchSelectGroup{
  width: 25% !important;
}
.productIcon{
  /* margin-top: 5px; */
  width: 40px;
  height: 40px;
}
.storeOverlayTable{
    width: 30% !important;
    max-height: 265px;
    background-color: white;
    overflow-y: scroll;
    position: absolute;
    z-index: 100;
    left: 10%;
    padding: 1rem;
      border-top: 1px #ccc solid;
    overflow: -moz-scrollbars-vertical; 

}
.storeCellContainer{
  padding-bottom: 10px;
  border-bottom: 1px #ccc solid;
  /* cursor:pointer; */
}
.storeName{
  cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1150px){
.searchBarLabel{
    font-size: 1.5rem !important;
  }

}
@media (max-width: 767px) {
  #map{
    height: 300px !important;
  }
  #map, .searchBarStyle {
  width: 95% !important;
  margin-left: 2.5% !important;
  margin-right: 2.5% !important;
  
}
  .searchBarLabel{
    font-size: 1.5rem !important;
  }
  .searchColumn{
    padding: 1rem !important;
    width: 100% !important; 
  }

  .searchBarStyle{
    text-align: center !important;
   }
  .searchBtn{
       margin-left: 0.5rem !important;
  }
  .searchInput{
    margin-left: 1.5rem !important;
/*    width: 50% !important;
*/    padding:10px;
    font-size: 1.3rem !important;
  }
  .searchSelect{
    width: 70% !important;
    margin-left: 0.5rem !important;
    -webkit-appearance: none !important;
    -webkit-background-color:#fff !important;
    -webkit-border-radius: 10px !important; 
  }
  .productIcon{
  width: 35px !important;
  height: 35px !important;
}


.storeOverlayTable{
    width: 90% !important;
    max-height: 250px;
    background-color: white;
    overflow-y: scroll;
    position: relative !important;
    z-index: 100;
    left: 5% !important;
    padding: 1rem;
    border-top: 1px #ccc solid;
    margin-bottom: 1rem;

}
.searchSelectGroup{
  width: 33% !important;
}

}

