<!DOCTYPE html>
<html>

<head>
	<!-- Share Tag -->
	<meta property="og:title" content="真。保濕 博士倫Biotrue 1-DAY系列" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://www.biotrue.com.hk/image/b+l_2019_mobile_bg.png" />
	<meta property="og:description" content="博士倫Biotrue®1-DAY全舒適CON系列，形成360鎖水屏障，帶來最高2倍淚水穩定力，長時間保持雙眼健康滋潤。" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/
	css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<title>真。保濕 博士倫Biotrue 1-DAY優惠換領</title>
</head>

<body>
	<div id="headerContainer"></div>

	<!-- Terms Content -->
	<div class="bodyBackgroundColor"> 

		<div id="qrcodeSection" class="container py-2 text-center" style="display: none;">
			<h4  style="margin: 50px 0px;">請向<span class="headerPrimaryColor">商店職員</span>出示以下QR Code以兌換優惠：</h4>	
			<img id="qrcodeImage" width="200" height="200"  alt="" title="" />
			<h4 style="margin: 50px 0px;"><兌換優惠碼：<span class="headerPrimaryColor" id="qrcodeString"></span>></h4>	
		</div>

		<div id="expiredFacebookSection" class="container py-2 text-center" style="display: none;">
			<h4  style="font-size: 2rem; margin: 100px 0px; font-weight: 600;line-height: 3rem;">試戴期限已滿，
				<br/><span class="headerPrimaryColor">讚好</span>博士倫 Facebook專頁，<br/>留意更多最新優惠！</h4>	
				<a class="pointer" href="https://www.facebook.com/BauschandLombHK/" style="text-decoration: none;  font-size: 1.6rem; font-weight: 600; padding: 10px;border-radius: 10px; margin:50px auto;  width: 50%; display:block; background-color: rgb(66,103,178); color: #fff;">前往Facebook專頁</a>
			</div>

			<div id="directRedemptionSection" class="container py-2 text-center" style="display: none;">
				<h4  style="margin: 50px 0px;">請向商店職員出示以下<span class="headerPrimaryColor">版面</span>以兌換優惠：</h4>
				<h4  style="margin: 50px 0px;">{{promoteCode}}</h4>
				<div class="headerBorderTop"></div>
				<h4 class="headerPrimaryColor"  style="margin: 30px 0px;">商店填寫部份</h4>
				<h4 class=""  style="margin: 30px 0px;">請輸入6位數字店舖號碼確認兌換：</h4>
				<div class="form-group text-left">
					<!--  <label >商戶編號</label>-->					
					<input  maxlength="10" type="text" class="form-control text-center" placeholder="商戶編號" v-model="merchantID">
					<span style="display: none !important;">{{storeOptionList}}</span>
				</div>

				<div v-if="showStoreListFlag" class="mt-2 form-group text-left" >
					<label >請選擇分店商鋪</label>
					<select v-model="selectedStore" class="form-control" >
						<!-- <option value="">分店商鋪</option> -->
						<option v-for="store in storeOptionList" :value="store">{{store.name}}({{store.region}}{{store.district}}{{store.address}})</option>
					</select>
					<div class="text-center">

					<button v-if="!isSubmitionLoading" @click="storeConfirm" type="submit" class="btn btn-primary mt-2 pointer " style="padding: 5px 20px;">確認店舖</button>
					<button v-else  type="submit" class="btn btn-primary mt-2 pointer " style="padding: 5px 20px;" disabled="">正在加載...</button>
				</div>
				</div>


			</div>
				<div id="redemptionSuccessSection" class="container py-2 text-center" style="display: none;">

					<h4  style="font-size: 2rem;  margin: 100px 0px 60px 0px; font-weight: 600;line-height: 3rem;">
				<span class="headerPrimaryColor" >登記已完成，感謝你的參與！</h4>	
				<h4  style="font-size: 2rem; margin: 60px 0px; font-weight: 600;line-height: 3rem;">
				<span class="headerPrimaryColor">讚好</span>博士倫 Facebook專頁，<br/>留意更多最新優惠！</h4>	

				<a class="pointer" href="https://www.facebook.com/BauschandLombHK/" style="text-decoration: none;  font-size: 1.6rem; font-weight: 600; padding: 10px;border-radius: 10px; margin:50px auto;  width: 50%; display:block; background-color: rgb(66,103,178); color: #fff;">前往Facebook專頁</a>
			</div>
		</div>






		<div id="footerContainer"></div>
	</body>


	<script src="js/jquery.min.js"></script> <!-- jQuery 3.2.1 -->
	<script src="js/bootstrap.min.js"></script> <!-- Bootstrap 3.3.7 -->
	<script src="js/vue.min.js"></script>
	<script src="js/storeListData.js"></script>
	<script src="js/vue-router.js"></script>
	<script src="js/config.js"></script>
	<script src="js/momentjs.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {

		// Default Load Html components
		$('#headerContainer').load('./views/header.html');
		$('#footerContainer').load('./views/footer.html');

		// Archor scroll function
		// $('a').click(function () {
		// 	if(($(this).attr('href'))){
		// 		$('html, body').animate({
		// 			scrollTop: $($(this).attr('href')).offset().top
		// 		}, 500);
		// 		return false;
		// 	}
		// });


		var redemption = new Vue({
			el:'#directRedemptionSection',
			data:{
				storeList:[],
				selectedStore:{},
				merchantID:"",
				showStoreListFlag:false,
				isSubmitionLoading:false,
				promoteCode:"",
			},
			created: function created(){
				this.getAllSelections('store');
				redemptionCasehandling();
				var queryArray = getUrlVars();
				this.promoteCode = queryArray.code;
				// console.log(this.promoteCode)

			},
			methods:{
				storeConfirm: function storeConfirm(){

					if(!this.selectedStore.ID){
						return;
					}
					let confirmText = "確認換領店舖信息: \n店舖名稱: " + this.selectedStore.name +
					"\n店舖地址: " + this.selectedStore.address;
					if(!confirm(confirmText)){
						return;
					}
					this.redeemLite();
				},


				redeemLite: function redeemLite(){
				this.isSubmitionLoading = true;
				var params = {
					promoteCode: this.promoteCode,
					redeemMerchant: this.merchantID,
					redeemStoreID: this.selectedStore.ID,
				};


			$.ajax({
				url: config.apiDomain + "/registration/redeemLite",
				type: 'POST',
				dataType: 'json',
				data: params,
				// enctype: 'multipart/form-data',  // Important to enable multipart form data for large image upload.
				// processData: false,
				// contentType : false,
				// beforeSend: function (xhr) {
				// 	xhr.setRequestHeader("Authorization",  Cookies.get('token'));
				// },
			})
			.done(function(json) {
				// console.log("success");
				// console.log(json);
				redemption.isSubmitionLoading = false;

				if(json.status  == 200){
					$('#directRedemptionSection').css('display','none');
					$('#redemptionSuccessSection').css('display','block');
					  $('html, body').animate({
        scrollTop: $("#redemptionSuccessSection").offset().top
    }, 100);
				}else{
					alert("Redemption Process error: "+ json.message);
				}
			})
			.fail(function() {
				redemption.isSubmitionLoading = false;
				alert("Redemption Failed. Please try again later.");
			})


				},
			getAllSelections: function getAllSelections(key) { 
			// Get All storeList
			$.ajax({
				url: config.apiDomain + "/selection/" + key + "List",
				type: 'GET',
				dataType: 'json',
				data: {}
			}).done(function (data) {
				if (data.status != 200) {
					alert("getAll" + key + " Error: " + data.status);
					return;
				} 
				redemption.storeList = data.data.list;
				// console.log(storeList);
			}).fail(function () {
				alert("getAll" + key + " fail");
			});
		}
	},
	computed:{
		storeOptionList: function storeOptionList(){
			if(!this.storeList){
				this.showStoreListFlag = false;
				return [];
			}

			if(this.merchantID.length < 6){
				this.showStoreListFlag = false;
				return [];
			}

			var storeOptionList = [];
			$.each( this.storeList, function(index,store){
				if(redemption.merchantID == store.accountID){
					storeOptionList.push(store);
				}
			});
					// console.log(storeOptionList)
					if(storeOptionList.length >0){
						this.showStoreListFlag = true;
					}

					return storeOptionList;
				}


			},

		})

	});



		function redemptionCasehandling(){

		// Fetch Redemption Type
		var queryArray = getUrlVars();
		var today = moment();  
		// Project Expired Date
		var expiredDate = moment()


		if(!queryArray.code){
			alert("無法顯示兌換優惠QR Code, 請稍後再試! ");
			return;
		}

		if(!queryArray.type){
		// Phase 1 Registration User, end by 14 Apr 2020
		expiredDate = moment('2020-04-14T23:59:59+08:00')	
		
		// console.log(today.isBefore(expiredDate) )
		if (today.isBefore(expiredDate) ) {
			updateQRCodeImage(queryArray.code);
			$('#qrcodeSection').css('display','block');
		}else{
			$('#expiredFacebookSection').css('display','block');
		}
	}else{
		// Phase 2 Registration User, end by 14 July 2020		
		expiredDate = moment('2020-12-31T23:59:59+08:00')	

		if (today.isBefore(expiredDate) ) {
			$('#directRedemptionSection').css('display','block');
			// $('#redemptionSuccessSection').css('display','block');
		}else{
			$('#expiredFacebookSection').css('display','block');
		}
	}
}


function updateQRCodeImage(couponCode){
		// Update QR Code

		var redeemFormURL = config.pageDomain + "/redemption.html?code=" + couponCode;
		var imageSource = "https://api.qrserver.com/v1/create-qr-code/?data="+ encodeURIComponent(redeemFormURL) +"&amp;size=200x200";
		$("#qrcodeImage").attr("src",imageSource);
		$("#qrcodeString").text(couponCode)
	}


	function getUrlVars()
	{
		var vars = [], hash;
		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		for(var i = 0; i < hashes.length; i++)
		{
			hash = hashes[i].split('=');
			vars.push(hash[0]);
			vars[hash[0]] = hash[1];
		}
		return vars;
	}
</script>