<!DOCTYPE html>
<html>

<head>
	<!-- Share Tag -->
	<meta property="og:title" content="真。保濕 博士倫Biotrue 1-DAY系列" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://www.biotrue.com.hk/image/b+l_2019_mobile_bg.png" />
	<meta property="og:description" content="博士倫Biotrue®1-DAY全舒適CON系列，形成360鎖水屏障，帶來最高2倍淚水穩定力，長時間保持雙眼健康滋潤。" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/
	css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

</head>

<body>
	<div id="headerContainer"></div>
	<div  style="background-color: #eee">
		<div id="linkpage" class="container py-3 text-center minHeight600">

			<div  id="qrcodeSection" class="container py-2 text-center" >
				<h4  style="margin: 50px 0px;">請向<span class="headerPrimaryColor">商店職員</span>出示以下QR Code以兌換優惠：</h4>	
				<img id="qrcodeImage" width="200" height="200"  alt="" title="" />
				<h4 style="margin: 50px 0px;"><兌換優惠碼：<span class="headerPrimaryColor" id="qrcodeString">{{promoteCode}}</span>></h4>	
			</div>
	
			<div id="expiredFacebookSection" class="container py-2 text-center">
				<h4  style="font-size: 2rem; margin: 100px 0px; font-weight: 600;line-height: 3rem;">試戴期限已滿，
					<br/><span class="headerPrimaryColor">讚好</span>博士倫 Facebook專頁，<br/>留意更多最新優惠！</h4>	
					<a class="pointer" href="https://www.facebook.com/BauschandLombHK/" style="text-decoration: none;  font-size: 1.6rem; font-weight: 600; padding: 10px;border-radius: 10px; margin:50px auto;  width: 50%; display:block; background-color: rgb(66,103,178); color: #fff;">前往Facebook專頁</a>
				</div>

		</div>
	</div>
	<div id="footerContainer"></div>
</body>


<script src="js/jquery.min.js"></script> <!-- jQuery 3.2.1 -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap 3.3.7 -->
<script src="js/vue.min.js"></script>
<script src="js/storeListData.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/config.js"></script>
<script src="js/momentjs.min.js"></script>
<script src="js/js-cookies.js"></script>
<script src="js/utils.js"></script>
<script src="js/browser-image-compression.js"></script>

<script type="text/javascript">
// Basic Configuration
'use strict';

// Solve the Object.assign problem
if (typeof Object.assign != 'function') {
	Object.assign = function(target) {
		'use strict';
		if (target == null) {
			throw new TypeError('Cannot convert undefined or null to object');
		}

		target = Object(target);
		for (var index = 1; index < arguments.length; index++) {
			var source = arguments[index];
			if (source != null) {
				for (var key in source) {
					if (Object.prototype.hasOwnProperty.call(source, key)) {
						target[key] = source[key];
					}
				}
			}
		}
		return target;
	};
}

var	redemptionFormInit = {
	promoteCode:'',
	sightProduct:0,
	lightProduct:0,
	axisProduct:0,
	leftEyeImage:{},
	rightEyeImage:{},
	leftLOT:'',
	rightLOT:'',
};

var app = new Vue({
	el: '#linkpage',
	data: {
		isValid:false,
		promoteCode:null
	},
	computed:{
		
	},
	methods:{
		goToPageSection: function goToPageSection(section) {
				$('html, body').animate({
					scrollTop: $("#" + section).offset().top - 100
				}, 500);
		},
		promoteCodeVerifyExpired:function promoteCodeVerifyExpired(){
			if(this.promoteCode!=null){
				$.ajax({
				url: config.apiDomain + "/registration/promoteCodeVerifyExpired",
				type: 'POST',
				dataType: 'json',
				data: {promoteCode: this.promoteCode},
			})
			.done(function(json) {
				// console.log(json.data);
				if(json.status == 200){
					app.isValid = json.data.result
					if(app.isValid){
						$("#qrcodeSection").attr("class","display");
						$("#expiredFacebookSection").attr("class","notDisplay");
					}
					else{
						$("#qrcodeSection").attr("class","notDisplay");
						$("#expiredFacebookSection").attr("class","display");
					}
					updateQRCodeImage(app.promoteCode);
				}else{
					alert(json.message);
				}
			})
			.fail(function() {
				alert("失敗");	
			})
			}
		},
	},
	watch:{
	},
	created: function created() {
			
			// Fetch PromoteCode from URL
			var queryArray = getUrlVars();
			if(!queryArray.code){
				alert("兌換優惠出現錯誤, 請重新再試! ");
				return;
			}else{
				this.promoteCode = queryArray.code;
			}
			this.promoteCodeVerifyExpired();

		},
	});

$(document).ready(function () {

		// Default Load Html components
		$('#headerContainer').load('./views/header.html');
		$('#footerContainer').load('./views/footer.html');

	});
function getUrlVars()
{
	var vars = [], hash;
	var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
	for(var i = 0; i < hashes.length; i++)
	{
		hash = hashes[i].split('=');
		vars.push(hash[0]);
		vars[hash[0]] = hash[1];
	}
	return vars;
}
function updateQRCodeImage(couponCode){
		// Update QR Code
		var redeemFormURL = config.pageDomain + "/redemption.html?code=" + couponCode;
		var imageSource = "https://api.qrserver.com/v1/create-qr-code/?data="+ encodeURIComponent(redeemFormURL) +"&amp;size=200x200";
		$("#qrcodeImage").attr("src",imageSource);
		// document.getElementById("qrcodeImage").setAttribute("src",imageSource);
		// $("#qrcodeString").text(couponCode)
	}
</script>

<style>
.notDisplay{
  display: none;
}
.display{
  display: block;
}
</style>