<!DOCTYPE html>
<html>

<head>
	<!-- Share Tag -->
	<meta property="og:title" content="真。保濕 博士倫Biotrue 1-DAY購買優惠" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://www.biotrue.com.hk/image/b+l_2019_mobile_bg.png" />
	<meta property="og:description" content="博士倫Biotrue®1-DAY全舒適CON系列，形成360鎖水屏障，帶來最高2倍淚水穩定力，長時間保持雙眼健康滋潤。" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/
	css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<title>真。保濕 博士倫Biotrue 1-DAY購買優惠</title>
</head>

<body>
	<div id="headerContainer"></div>

<!-- 	<div class="homepageBackground" style=" padding: 30px 0px 50px 0px;">

		<div class="container">			
			<div class="row mpx-0" style="padding: 0px 10% !important;">
				<div class="col-md-4 prcFirstLeftImg" style="">
					<img class="img-responsive" src="image/phase2/Desktop/header1@2x.png" style="margin-left: 20px;">
				</div>
				<div class="col-md-7 prcFirstRightImg" style="padding-left: 0px !important;">
					<img class="img-responsive" src="image/phase2/Desktop/header2@2x.png">
				</div>
			</div>
			
			<div class="row mpx-0" style="padding:10px 0px;">
				<div class="col-md-4 col-md-offset-2 prcSecongLeftImg">
					<img class="img-responsive" src="image/phase2/Desktop/header3@2x.png">

				</div>
				<div class="col-md-4 prcSecondRightImg">
					<img class="img-responsive" src="image/phase2/Desktop/header4@2x.png">

				</div>
			</div>
			
			<div class="row whiteBackgroundWithoutBorder prcThirdRightImgContainer" style="border-radius: 30px;">
				<div class="col-md-6 prcThirdLeftImg">
					<img class="img-responsive" src="image/phase2/Desktop/mechanics@2x-v2.png">
				</div>

				<div class="col-md-6 " style="padding: 0px;">
					<div class="row mpx-0">
						<div class="col-xs-4 prcThirdRightImg1" style=""><img class="img-responsive" src="image/phase2/Desktop/boxset@2x.png"></div>
						<div class="col-xs-8 prcThirdRightImg2" style=""><img class="img-responsive" src="image/phase2/Desktop/alex@2x.png"></div>
					</div>


				</div>
			</div>
		</div>

	</div> -->
	<!-- Homepage Footer Claimes -->
	<div class="container-fluid" style="padding: 0px;">
		<!-- Storelist Content -->
		<div class="bodyBackgroundColor"> 
			<!-- Biotrue Store List table -->
			<div id="storeList" class="storeListContainer container">
				<div class="row text-center"><h2 class="storeListTitle"> 購買地點 </h2></div>
				<div class="roundRectBackground" style="margin-bottom: 30px;"><ul class="nav nav-tabs">
					<li v-for="(region,index) in storeRegion" @click="changeActiveRegion(region,index)" :class=" index == activeRegionIndex ? 'active' : '' " class="pointer"><a class="districtTabs storeListTextColor" >{{region}}</a></li>

				</ul>

				<div class="table-responsive  table-wrapper-scroll-y my-custom-scrollbar">
					<table class="table table-striped ">
						<thead class="storeListTextColor">
							<tr>
								<th scope="col">公司</th>
								<th scope="col">地區</th>
								<th scope="col">區域</th>
								<th scope="col">地址</th>
								<th scope="col">電話</th>
								<th scope="col">Biotrue<sup>®</sup> 1-DAY<br/>近視/遠視</th>
								<th scope="col">Biotrue<sup>®</sup> 1-DAY<br/>散光</th>
								<th scope="col">Biotrue<sup>®</sup> 1-DAY<br/>漸進</th>

							</tr>
						</thead>
						<tbody>
							<tr v-for="store in getStoreList">
								<th scope="row">{{store.name}}</th>
								<td>{{store.region}}</td>
								<td>{{store.district}}</td>
								<td>{{store.address}}</td>
								<td>{{store.telephone}}</td>
								<td class="text-center storeListBulletin storeListTextColor">{{getBulletinMark(store.product1)}}</td>
								<td class="text-center storeListBulletin storeListTextColor">{{getBulletinMark(store.product2)}}</td>
								<td class="text-center storeListBulletin storeListTextColor">{{getBulletinMark(store.product3)}}</td>
							</tr>

						</tbody>
					</table>
				</div>
				<p>
					及*全線眼鏡88：<a target="_blank" href="http://bit.ly/2Bi449X">http://bit.ly/2Bi449X</a> <br/>
					*全線愛視美眼鏡：<a target="_blank" href="http://bit.ly/2iFEKzy">http://bit.ly/2iFEKzy</a><br/>
					*全線尊貴視力：<a target="_blank" href="https://bit.ly/2Up9GsN">https://bit.ly/2Up9GsN</a><br/>
					*全線亮視點：<a target="_blank" href="http://bit.ly/2kTKZnz">http://bit.ly/2kTKZnz</a><br/>
					*全線茂昌眼鏡 <a target="_blank" href="https://bit.ly/2UzDqAD">https://bit.ly/2UzDqAD</a><br/>
					*全線EGG  <a target="_blank" href="https://bit.ly/3anEm1y">https://bit.ly/3anEm1y</a><br/>
					*全線Image Optical <a target="_blank" href="https://bit.ly/2XjCAek">https://bit.ly/2XjCAek</a><br/>
					*超市禮券會於博士倫指定換領中心內進行換領<br/>
				</p>
			</div>
			
		</div>

		<!-- Footer Disclaim -->
		<p class="footerParagraph" style="color: #337ab7 !important; padding-top: 10px;">
			<span style="font-weight: bold !important; ">買6盒送$150超市禮券條款及細則:</span>
			1. 以上推廣活動只限於博士倫指定特約經銷商單次購買6盒博士倫Biotrue<sup>®</sup> 1-DAY系列（近視 / 遠視、散光及漸進），最多兩款不同推廣產品及最多兩個不同度數 2. 參加者需即場撕下6個盒蓋（印有產品度數、生產資料及條碼）向商戶申請兌換$150超市禮券 3. 每一兌換申請上限為24盒，即最多只可兌換$600超級市場禮券 4. 每個產品盒蓋只可兌換禮券一次，並於兌換後由商戶保留 5. 優惠期內送出的禮券先到先得，送完即止 6. 如遞交之資料不全、產品盒蓋數量不足、欠缺盒蓋條碼資料或重覆登記，將視作廢論 7. 若參加者於購物時已領取或獲得其他現行於特約經銷商之禮品、贈券或任何購買優惠，將不可同時參加此推廣。禮券亦不可兌換現金 8. 禮券質素以禮券供應商之條款及細則為準，得獎者因換領或使用該禮券產生的任何問題，本公司概不負責 9. 如有任何原因令參加者退回已完成登記的產品，參加者亦需退回已收取的禮券予博士倫（香港）有限公司 10. 所收集之個人資料，只用作此活動用途，除非由參加者確認，否則博士倫（香港）有限公司不會用作其他推廣，更多有關博士倫(香港)有限公司保障閣下個人資料之事宜，可瀏覽私隱政策聲明www.bausch.com.hk/experiences/statement.asp 11. 如有任何查詢，可於辦公時間星期一至五早上10時至12時及下午2時半至5時 (公眾假期除外）致電2213-3309 12. 博士倫（香港）有限公司有權更改活動詳情、條款及細則而不作另行通知 13. 如有任何爭議，博士倫（香港）有限公司擁有最終決定權<br/>
			<span style="font-weight: bold !important; ">新用户獎賞優惠條款及細則:</span>
			1. 新用戶之定義為從未登記參與及換領2019年12月27日至2020年3月31日博士倫Biotrue<sup>®</sup> 1-DAY系列試戴體驗買2盒送$100超市禮券限時優惠及2020年4月1日至6月30日博士倫Biotrue<sup>®</sup>1-DAY系列10天試戴體驗限時優惠。 2.如欲獲得價值超過$350回贈，新用户需同時成功參加以下2個推廣: a. 網上登記試戴體驗並成功驗配可獲得10日用量(近視/遠視建議零售價為$310/盒(30片裝),20片裝價值為$206)(試戴活動不包括眼科視光師之驗配費用，驗配費用及收取方式會由參與之試戴中心自行決定並擁有最終決定權，詳情請向參與之試戴中心查詢及預約有關服務。) 試戴體驗的詳情及條款及細則請登入www.biotrue.com.hk 內試戴優惠專頁瀏覽 b. 買6盒送$150超市禮券
		</p>

	</div>


</div>
</div>
<div id="footerContainer"></div>
</body>
<script src="js/jquery.min.js"></script> <!-- jQuery 3.2.1 -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap 3.3.7 -->
<script src="js/vue.min.js"></script>
<!-- <script src="js/storeListData.js"></script> -->
<script src="js/storeListData0330.js"></script>
<script src="js/config.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/youtube.js"></script>
<script type="text/javascript">
	$(document).ready(function() {

    // Default Load Html components
    $('#headerContainer').load('./views/header.html');
    $('#footerContainer').load('./views/footer.html');

    // Archor scroll function
    // $('a').click(function() {
    // 	console.log("here");
    // 	if (($(this).attr('href'))) {
    // 		$('html, body').animate({
    // 			scrollTop: $($(this).attr('href')).offset().top - 100
    // 		}, 500);
    // 		return false;
    // 	}
    // });
});


// Vue Component Script
var store = new Vue({
	el:'#storeList',
	data:{
		storeRegion: region,
		storeListData: [],
		activeRegionRegion : '香港' ,
		activeRegionIndex: 0,
	},
	created(){
		this.getStaticStoreList();
	},
	computed: {
		getStoreList: function getStoreList(){
			// if(this.storeListData.length<1){			
			// alert("no storeList")
			// }
			var currentRegion = this.activeRegionRegion;
			var selectedStoreList = [];
			$.each(this.storeListData, function(index, store){
				if(store.region == currentRegion){
					selectedStoreList.push(store)

				}
			});
			// console.log(selectedStoreList)
			return selectedStoreList;
		}
	},


	methods:{
		getStaticStoreList: function getStaticStoreList(){
			$.ajax({
				url: config.apiDomain + "/store/getStaticList",
				type: 'GET',
				dataType: 'json',
				data: {}
			}).done(function (data) {
				store.storeListData = data.data.list;
			}).fail(function () {
				alert("Get Store List failed");
			});
		},
		getBulletinMark: function getBulletinMark(value){
			if (value == "Y" ){
				return "*";
			}else{
				return "";
			}
		},
		changeActiveRegion: function changeActiveRegion(region,index){
			this.activeRegionRegion = region;
			this.activeRegionIndex = index;
		},
	}

});

</script>