<!DOCTYPE html>
<html>

<head>
	<!-- Share Tag -->
	<meta property="og:title" content="真。保濕 博士倫Biotrue 1-DAY系列" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://www.biotrue.com.hk/image/b+l_2019_mobile_bg.png" />
	<meta property="og:description" content="博士倫Biotrue®1-DAY全舒適CON系列，形成360鎖水屏障，帶來最高2倍淚水穩定力，長時間保持雙眼健康滋潤。" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/
	css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>

<body>
	<div id="headerContainer"></div>
	<div  style="background-color: #eee">
		<div id="redemption" class="container py-3 text-center minHeight600">

			<!-- Login Authentication -->
			<div v-if="!authentication">
				<h3 class="headerPrimaryColor">商戶帳號登入</h3>
				<div class="form-group text-left">
					<label >商戶編號</label>
					<input maxlength="10" type="text" class="form-control" v-model="login.username"  aria-describedby="emailHelp" placeholder="商戶編號">
				</div>
				<div class="form-group text-left">
					<label >登入密碼</label>
					<input type="password" class="form-control"  v-model="login.password" placeholder="登入密碼">
				</div>
				<button :disabled="loginSuccess" @click="loginSubmit" type="submit" class="btn btn-primary mt-2 pointer " style="padding: 5px 20px;">確認登陸</button>
				<button v-if="loginSuccess" @click="logout" type="submit" class="btn btn-danger mt-2 pointer " style="padding: 5px 20px;">切換帳戶</button>
				<!-- Add store selection here -->
				<div  v-if="loginSuccess" class="text-center">
					<div  class="mt-2 form-group text-left">
						<label >請選擇分店商鋪</label>
						<select v-model="selectedStore" class="form-control">
							<!-- <option value="">分店商鋪</option> -->
							<option v-for="store in storeOptionList" :value="store.ID">{{store.name}}({{store.region}}{{store.district}}{{store.address}})</option>
						</select>
					</div>
					<button @click="storeConfirm" type="submit" class="btn btn-success mt-2 pointer " style="padding: 5px 20px;">確認店舖</button>
				</div>

			</div>

			<div v-else>

				<el-tabs v-model="chosenTab" type="border-card">

					
					<!-- <el-tab-pane label="redeem" name="redeem">

						<h3 class="headerPrimaryColor" style="margin-bottom: 3rem;">登記試戴優惠</h3>
					<div class="container roundRectBackground" style="border-radius: 20px; border: 1px solid #ccc !important; padding: 20px;">

					Redemption Form Start
					<div v-if="!isRedemptionFinished">
						<div class="form-group text-left">
							<label >商戶編號:<span class="pl-1 headerPrimaryColor">{{merchantUsername}}</span></label>
							<span @click="logout" class="pl-1" style="margin-left: 100px; color:#B11226">切換商戶</span>

						</div>
						<div class="form-group text-left row mpx-0">
							<label>優惠碼</label>
							<input  type="text" class="form-control"  v-model="redemptionForm.promoteCode" placeholder="優惠碼">
						</div>
						<h5 class="formHeaderColor text-center" >產品及數量:  <span style="color:#B11226">(請最少選擇一種但最多不多於兩種產品)</span></h5>
						<div class="form-group text-left">
							<label >近視/遠視（盒）</label>
							<select v-model="redemptionForm.sightProduct" class="form-control">
								<option v-for="i in maximumProductAmount" :value="i-1">{{i-1}}</option>
							</select>
						</div>
						<div class="form-group text-left">
							<label >散光（盒）</label>
							<select v-model="redemptionForm.lightProduct" class="form-control">
								<option v-for="i in maximumProductAmount" :value="i-1">{{i-1}}</option>
							</select>
						</div>
						<div class="form-group text-left">
							<label >漸進（盒）</label>
							<select v-model="redemptionForm.axisProduct" class="form-control">
								<option v-for="i in maximumProductAmount" :value="i-1">{{i-1}}</option>
							</select>
						</div>

						<h5 class="formHeaderColor text-center" >上載已撕下的盒蓋:</h5>

						<div class="form-group text-left">
							<label for="avatar">左眼圖片</label>
							
							<input type="file" id="leftEyeImage" style="display: none;" @change="updateImageAttr('leftEyeImage', event)"/>
							<input type="button" value="上載圖片" class="imageUploadBtn"  onclick="document.getElementById('leftEyeImage').click();"  accept="image/png, image/jpeg"/>
							<div v-if="this.redemptionForm.leftEyeImage.name" class="uploadSuccessMsg">已上載: <span >{{this.redemptionForm.leftEyeImage.name}}</span></div>
						</div>

						<div class="form-group text-left">
							<label for="avatar">右眼圖片</label>
							<input type="file" id="rightEyeImage" style="display: none;" @change="updateImageAttr('rightEyeImage', event)"/>
							<input type="button" value="上載圖片" class="imageUploadBtn"  onclick="document.getElementById('rightEyeImage').click();"  accept="image/png, image/jpeg"/>
							<div v-if="this.redemptionForm.rightEyeImage.name" class="uploadSuccessMsg">已上載: <span >{{this.redemptionForm.rightEyeImage.name}}</span></div>
						</div>
						<h5 class="formHeaderColor text-center" >LOT號碼 (顯示於盒蓋面以W開首的9位編碼):</h5>

						<div class="form-group text-left row mpx-0">
							<label>LOT 左眼</label>
							<input  type="text" class="form-control"  v-model="redemptionForm.leftLOT" >
						</div>
						<div class="form-group text-left row mpx-0">
							<label>LOT 右眼</label>
							<input  type="text" class="form-control"  v-model="redemptionForm.rightLOT" >
						</div>
						<button v-if="!isSubmitionLoading" @click="redemptionSubmit" class="btn btn-success mt-2 pointer " style="padding: 5px 20px;">確認上載</button>
						<button v-else class="btn btn-warning mt-2 pointer " style="padding: 5px 20px;" disabled="disabled">正在提交...</button>

						 End of Redemption form
					</div>
					<div v-else> 
						<h4 class="formHeaderColor text-center py-3" > 已成功兌換優惠及發送確認SMS，請查收</h4>
					</div>

				</div>

				</el-tab-pane> -->
				
					<el-tab-pane label="registration" name="registration">
						<el-table
						:data="registrationList"
						style="width: 100%">
						<el-table-column v-for="item in columnList"
							:prop="item.prop"
							:label="item.label">
						</el-table-column>

						<infinite-loading
						slot="append"
						@infinite="infiniteHandler"
						force-use-infinite-wrapper=".el-table__body-wrapper">
						</infinite-loading>

						</el-table>

					</el-tab-pane>

				</el-tabs>

			</div>
		</div>
	</div>
	<div id="footerContainer"></div>
</body>


<script src="js/jquery.min.js"></script> <!-- jQuery 3.2.1 -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap 3.3.7 -->
<script src="js/vue.min.js"></script>
<script src="js/storeListData.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/config.js"></script>
<script src="js/momentjs.min.js"></script>
<script src="js/js-cookies.js"></script>
<script src="js/utils.js"></script>
<script src="js/browser-image-compression.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/vue-infinite-loading@^2/dist/vue-infinite-loading.js"></script>

<script type="text/javascript">
// Basic Configuration
'use strict';

// Solve the Object.assign problem
if (typeof Object.assign != 'function') {
	Object.assign = function(target) {
		'use strict';
		if (target == null) {
			throw new TypeError('Cannot convert undefined or null to object');
		}

		target = Object(target);
		for (var index = 1; index < arguments.length; index++) {
			var source = arguments[index];
			if (source != null) {
				for (var key in source) {
					if (Object.prototype.hasOwnProperty.call(source, key)) {
						target[key] = source[key];
					}
				}
			}
		}
		return target;
	};
}

var	redemptionFormInit = {
	promoteCode:'',
	sightProduct:0,
	lightProduct:0,
	axisProduct:0,
	leftEyeImage:{},
	rightEyeImage:{},
	leftLOT:'',
	rightLOT:'',
};

var registrationInit = [];

const api = '//hn.algolia.com/api/v1/search_by_date?tags=story';

var app = new Vue({
	el: '#redemption',
	data: {
		authentication:false,
		loginSuccess:false,
		isRedemptionFinished:false,
		login:{
			username: '' ,
			password: '' ,
		},
		maximumProductAmount:25,
		// redemption Form
		redemptionForm:{},
		isSubmitionLoading:false,
		storeList:[],
		storeOptionList:[],
		selectedStore:"",
		registrationList:[],
		busy:false,
		chosenTab:'registration',
		columnList:[
			{
				prop:'telephone',
				label:'電話號碼'
			},
			{
				prop:'expectedProductType',
				label:'想佩戴之博士倫產品'
			},
			{
				prop:'createTime',
				label:'預約日期及時間'
			},
			{
				prop:'promoteStatus',
				label:'換領狀態'
			},
		],
		page: 1,
		list:[],
	},
	computed:{
		merchantUsername: function merchantUsername(){
			return Cookies.get('username');	
		},
	},
	methods:{
		storeConfirm: function storeConfirm(){
			if(app.selectedStore){
				Cookies.set("storeID", app.selectedStore);
				app.loginSuccess = false;
				app.authentication = true;
			}

		},
		getAllSelections: function getAllSelections(key) { // Get All storeList
			$.ajax({
				url: config.apiDomain + "/selection/" + key + "List",
				type: 'GET',
				dataType: 'json',
				data: {}
			}).done(function (data) {
				if (data.status != 200) {
					alert("getAll" + key + " Error: " + data.status);
					return;
				} 
				// console.log(data);
		        // app.setAllSelections(key, data.data.list);
		        app.storeList = data.data.list;
		    }).fail(function () {
		    	alert("getAll" + key + " fail");
		    });
		},
		updateImageAttr: function updateImageAttr(type,event){
			// this.redemptionForm[type] = event.target.files[0];

			var imageFile = event.target.files[0];
			  // console.log('originalFile instanceof Blob', imageFile instanceof Blob); // true
			  // console.log(`originalFile size ${imageFile.size / 1024 / 1024} MB`);
			 // console.log(imageFile);
			 var options = {
			 	maxSizeMB: 1,
			 	maxWidthOrHeight: 1920,
			 	useWebWorker: true
			 }
			 imageCompression(imageFile, options)
			 .then(function (compressedFile) {
			      // console.log('compressedFile instanceof Blob', compressedFile instanceof Blob); // true
			      // console.log(`compressedFile size ${compressedFile.size / 1024 / 1024} MB`); // smaller than maxSizeMB
  			      // return uploadToServer(compressedFile); // write your own logic


			      	// let uploadImage = blobToFile(compressedFile, compressedFile.name )
			      	let uploadImageFile = new File([compressedFile], compressedFile.name)
			      	// console.log(uploadImageFile);
			      	app.redemptionForm[type] = uploadImageFile;			 
			      })
			 .catch(function (error) {
			 	console.log(error.message);
			 });


			},
			goToPageSection: function goToPageSection(section) {
				$('html, body').animate({
					scrollTop: $("#" + section).offset().top - 100
				}, 500);
			},
			resetForm: function resetForm(){
			// Init Redemption Form
			this.redemptionForm = JSON.parse(JSON.stringify (redemptionFormInit) ) ;
			this.isRedemptionFinished = false;
		},
		redemptionValidation: function redemptionValidation(){

			var result = false;
			if(!this.redemptionForm.promoteCode){
				alert("請填寫正確的試戴優惠碼。");
				return;
			}
			// Product
			var typeSum = 0;
			typeSum = ( (parseInt(this.redemptionForm.sightProduct) > 0) ? 1:0)
			+ ( (parseInt(this.redemptionForm.lightProduct) > 0) ? 1:0) 
			+ ( (parseInt(this.redemptionForm.axisProduct) > 0) ? 1:0);
			// console.log(typeSum); 
			if((typeSum>2)||(typeSum<1))
				{alert("請最少選擇一種但最多不多於兩種產品。")
			return;
		}

			// Image
			if(!this.redemptionForm.leftEyeImage.name){
				alert("請上載左眼產品的圖片");
				return;
			}
			if(!this.redemptionForm.rightEyeImage.name){
				alert("請上載右眼產品的圖片");
				return;
			}

			// LOT
			if(!this.redemptionForm.leftLOT){
				alert("請填寫正確左眼LOT編碼");
				return;
			}
			if(!this.redemptionForm.rightLOT){
				alert("請填寫正確右眼LOT編碼");
				return;
			}
			result = true;
			return result;

		},
		getContactNumber: function getContactNumber(record){
			$.ajax({
				url: config.apiDomain + "/registration/contactNumber",
				type: 'POST',
				dataType: 'json',
				data: {promoteCode: record.promoteCode, storeID: Cookies.get('storeID')},
			})
			.done(function(json) {
				// console.log(json.data);
				if(json.status == 200){
					app.redemptionSuccessSMS(record, json.data);
				}else{
					alert(json.message);
				}
			})
			.fail(function() {
				alert("搜索客戶/商鋪聯絡電話失敗，請與工作人員確認");	
			})
		},
		redemptionSuccessSMS: function redemptionSuccessSMS(data, contactNumber){
			// Add a reload to redemption page without promoteCode %0D 
			
			
			 // contactNumber.merchant;
			 var date = moment(data.createTime).format("YYYY-MM-DD");
			 var promoteCode = data.promoteCode;
			 var productText = '產品及數量: %0D';
			 if(parseInt(data.sightProduct) > 0 ){
			 	productText += "<近視/遠視><"+ data.sightProduct +">盒%0D";
			 }
			 if(parseInt(data.lightProduct) > 0 ){
			 	productText += "<散光><"+ data.lightProduct +">盒%0D";
			 }
			 if(parseInt(data.axisProduct) > 0 ){
			 	productText += "<漸進><"+ data.axisProduct +">盒%0D";
			 }

			 var merchantText= "兌換日期: "+date+"%0D優惠碼: "+promoteCode+"%0D"+productText;
			 var clientText= "感謝參加博士倫Biotrue 1-DAY體驗活動，請到博士倫香港 Facebook專頁留意最新優惠。";
			 sendSMS(clientText, contactNumber.client);
			 if(contactNumber.merchant)
			 {
			 	sendSMS(merchantText, contactNumber.merchant);
			 }
			 	this.isRedemptionFinished = true;
				this.goToPageSection('redemption');
			},

			redemptionSubmit: function redemptionSubmit(){

				if(!this.redemptionValidation()){
					return;
				}

			// Convert RedemptionForm to Form Data
			var form_data = new FormData();
			for ( var key in this.redemptionForm ) {
				form_data.append(key, this.redemptionForm[key]);
			}
			form_data.append('redeemStoreID', Cookies.get('storeID'));
			this.isSubmitionLoading = true;
			$.ajax({
				url: config.apiDomain + "/registration/redeem",
				type: 'POST',
				dataType: 'json',
				enctype: 'multipart/form-data',  // Important to enable multipart form data for large image upload.
				processData: false,
				contentType : false,
				data: form_data,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization",  Cookies.get('token'));
				},
			})
			.done(function(json) {
				// console.log("success");
				// console.log(json);
				app.isSubmitionLoading = false;

				if(json.status  == 200){
					app.resetForm();
				
					app.getContactNumber(json.data);
				}else{
					alert("Redemption Process error: "+ json.message);
				}
			})
			.fail(function() {
				app.isSubmitionLoading = false;
				alert("Redemption Failed. Please try again later.");
			})
		},	
		logout: function logout(){
			Cookies.remove('username');
			Cookies.remove('role');
			Cookies.remove('token');
			Cookies.remove('storeID');
			this.login = {
				username:'',
				password:'',
			}
			this.authentication = false;
			this.loginSuccess = false;
		},
		loginSubmit: function loginSubmit(){
			$.ajax({
				url: config.apiDomain + "/auth/login",
				type: 'POST',
				dataType: 'json',
				data: this.login
			}).done(function (data) {
				if (data.status != 200) {
					alert("Merchant Login Error: " +data.message);
					return;
				} 
				Cookies.set('username', data.data.username);
				Cookies.set('role', data.data.role);
				Cookies.set('token', data.data.token);
				app.loginSuccess = true ;
				// app.authentication = true;

			}).fail(function() {
				alert("Merchant Login Failed, try again later ");	
			})
		},

		authenticationVerify: function authenticationVerify(token){
			this.authentication = false;
			$.ajax({
				url: config.apiDomain+"/auth/auth",
				type: 'POST',
				dataType: 'json',
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization",  token);
				},
				data: {},
			})
			.done(function(data) {
				if(data.status == 200){
					if(Cookies.get('storeID')){
						app.authentication = true;
					}else{
						app.login.username = Cookies.get("username");
						setTimeout(function() {
							app.loginSuccess = true;
						}, 500);
						
					}
				}else{
					alert("Authentication error: " + data.message);
				}
			})
			.fail(function() {
				alert("Authentication Failed.");
			})
		},
		infiniteHandler:function infiniteHandler($state){
			let token = Cookies.get('token');
			let username = Cookies.get('username')
			$.ajax({
				url: config.apiDomain + "/registration/getList",
				type:'GET',
				data:{page:this.page,count:5,search:username},
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization",  token);
				},
			}).done(function(data){
				if(data.status == 200){
					app.registrationList.push(...data.data.list)
					if(app.registrationList.length<data.data.total){
						app.page += 1;
						$state.loaded();
					}
					else{
						$state.complete();
					}
				}
			})
   	},
	},
	watch:{
		loginSuccess: function loginSuccessParam(newVal){
			if(newVal){
				// console.log("loginSuccess");
				var storeList = [];
				let merchantID = Cookies.get('username');
				let role = Cookies.get('role');
				if(role == "A"){
					Cookies.set('storeID',"admin");
				}
				$.each( app.storeList, function(index,store){
					if(merchantID == store.accountID){
						storeList.push(store);
					}
				});
				app.storeOptionList = storeList;
			}
		}
	},
	created: function created() {
			this.resetForm();
			// Get StoreList
			this.getAllSelections('store');

			// Token Authentication Check
			let tokenInCookies = Cookies.get('token');
			if(!tokenInCookies){
				this.authentication = false;
			}else{
				this.authenticationVerify(tokenInCookies);
			}
			
			// Fetch PromoteCode from URL
			var queryArray = getUrlVars();
			if(!queryArray.code){
				// alert("兌換優惠出現錯誤, 請重新再試! ");
				return;
			}else{
				this.redemptionForm.promoteCode = queryArray.code;
			}
			this.registrationList = JSON.parse(JSON.stringify (registrationInit) )

		},
	});

$(document).ready(function () {

		// Default Load Html components
		$('#headerContainer').load('./views/header.html');
		$('#footerContainer').load('./views/footer.html');

	});
function getUrlVars()
{
	var vars = [], hash;
	var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
	for(var i = 0; i < hashes.length; i++)
	{
		hash = hashes[i].split('=');
		vars.push(hash[0]);
		vars[hash[0]] = hash[1];
	}
	return vars;
}
</script>