<!DOCTYPE html>
<html>

<head>
    <!-- Share Tag -->
    <meta property="og:title" content="真。保濕 博士倫Biotrue 1-DAY試戴優惠" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.biotrue.com.hk/image/b+l_2019_mobile_bg.png" />
    <meta property="og:description" content="博士倫Biotrue®1-DAY全舒適CON系列，形成360鎖水屏障，帶來最高2倍淚水穩定力，長時間保持雙眼健康滋潤。" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/
    css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <title>真。保濕 博士倫Biotrue 1-DAY試戴優惠</title>
</head>

<body>

<!-- <div class="stickyBtn"><a href="./purchase.html"><img class='img-fluid' src="image/phase2/Gif/b+l_cpbtn.gif"></a></div>
 --><div id="headerContainer"></div>
    <div id="app">
        <div id="form-bg" class="container-fluid">
            <div>
                <div id="form-white-bg" class="row" style="background-color: #ffffff; border-radius: 50px; margin: 5% 4% 0% 4%;">
                    <!-- Registration Part -->
                    <div style="display: inherit;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="row mpx-0" style="margin: 20px auto;">
                                        <img style="width: 25%;" class="center img-responsive" src="image/phase2/Desktop/trial-heading@2x.png" >
                                        <img style="width: 40%;margin-top: 2rem;" class="center img-responsive" src="image/phase2/Desktop/trial-title1@2x.png">
                                        <img style="width: 35%;margin-top: 2rem;" class="center img-responsive" src="image/phase2/Desktop/trial-title2@2x.png">
                                        <img style="width: 90%;margin-top: 1rem;"class="center img-responsive" src="image/phase2/Desktop/trial-product@2x.png">
                                    </div>
                                    <h4 class="text-center formHeaderText">參加者於2020年7月1日至2020年12月31日內完成登記，<br />優惠有效期為完成登記後14天 (確實日期以確認短訊上所示為準)，逾期作廢。</h4>
                                </div>
                                <div class="col-sm-6 col-sm-offset-3">
                                    <img class=" center img-responsive" style="padding-top:2rem;" :src="workflowStepImage" />
                                </div>
                            </div>
                        </div>
                        <!--  Page Header till Here-->
                        <div class="container-fluid">
                            <div class="row">
                                <!-- Registration Step 1   -->
                                <div v-if="workflowStep == 1" class="col-md-12 ">
                                    <div class="py-3">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2 id='registrationFormHeader' class="text-center primaryColor formTitle formTextWeight">填寫資料</h2>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="form-content">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-9 col-md-offset-1">
                                                    <div class="col-md-10 col-md-offset-2">
                                                        <div class="row py-1">
                                                            <div class="col-md-12">
                                                                <label class="primaryColor formTextWeight formLabelSize inputLabel">*必須填寫</label>
                                                            </div>
                                                        </div>
                                                                  <!--       <div class="row py-1">
                                                                            <div class="col-md-4">
                                                                                <label class="primaryColor formTextWeight formLabelSize">姓名*:</label>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <input class="input-box" type="text" id="name" name="name" v-model="form.name">
                                                                                <p class="errorMsg" v-if="!validation.name && finalCheck"> 此欄必須填寫。</p>
                                                                            </div>
                                                                        </div> -->
                                                                    <!-- <div class="row py-1">
                                                                        <div class="col-md-4">
                                                                            <label class="primaryColor formTextWeight formLabelSize">性別:</label>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <select id="gender" name="gender" class="selectBox" v-model="form.gender">
                                                                                <option v-for="item in selections.gender" :value="item.value">{{item.text}}</option>
                                                                            </select>
                                                                            <p class="errorMsg" v-if="!validation.gender && finalCheck"> 此欄必須填寫。</p>
                                                                        </div>
                                                                    </div> -->

                              <!--                                       <div class="row py-1">
                                                                        <div class="col-md-4">
                                                                            <label class="primaryColor formTextWeight formLabelSize">出生月份:</label>
                                                                        </div>
                                                                        <div class="col-md-8 form-inline">
                                                                            <select v-model="form.birthMonth" class="selectBox" >
                                                                                <option v-for="i in 12" :value="i">{{i}}月</option>
                                                                            </select>
                                                                     </div>
                                                                 </div> -->

                                                                 <div class="row py-1">
                                                                    <div class="col-md-4">
                                                                        <label class="primaryColor formTextWeight formLabelSize inputLabel">手機號碼*:</label>
                                                                    </div>
                                                                    <div class="col-md-7 form-inline">
                                                                        <input style="width: 100% !important" name="tel" maxlength="8" class="input-box phoneTextInput" id="tel" v-model.trim="form.telephone">
                                                                        <!--   <button class="phoneVerifyBtn" type="button" id="getCode" @click="getVeriCode"> 獲取驗證碼 </button> -->
                                                                        <!-- <p class=" errorMsg" v-if="verify.telephone == true">你已登記博士倫Biotrue 1-DAY 試戴體驗活動，試戴體驗詳情將會於2020年1月初透過短訊通知你。</p> -->
                                                                        <div v-if="verify.telephone == true">
                                                                            <p class=" errorMsg" v-if="verify.redeemed == true">你曾登記較早前使用{{verify.product}}體驗活動優惠，多謝支持！</p>
                                                                            <p class=" errorMsg" v-else>你已於較早前登記{{verify.product}}體驗活動並收到短訊通知，請盡快親臨已揀選的商店出示短訊體驗產品！ </p>
                                                                        </div>
                                                                        <p class=" errorMsg" v-else-if="!validation.telephone && (finalCheck||veriCodeCheckFlag)"> 請輸入8位有效電話號碼</p>

                                                                        <span style="display: none;">{{veriCodeGenerate}}</span>
                                                                    </div>
                                                                </div>
                                                               <!--      <div class="row py-1">
                                                                        <div class="col-md-4">
                                                                            <label class="primaryColor formTextWeight formLabelSize">驗證碼:</label>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <input class="input-box" name="veriCode" maxlength="6" id="veriCode" type="text" v-model.trim="phoneVeriCode">
                                                                            <p class="errorMsg" v-if="!validation.veriCode && finalCheck"> 請輸入正確的驗證碼。</p>
                                                                        </div>
                                                                    </div> -->
                                                               <!--      <div class="row py-1">
                                                                        <div class="col-md-4">
                                                                            <label class="primaryColor formTextWeight formLabelSize">電郵地址*:</label>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <input class="input-box" type="text" id="email" name="email" v-model.trim="form.email">
                                                                            <p class=" errorMsg" v-if="verify.email == true"> 該電郵地址已登記，請使用其他電郵</p>
                                                                            <p class=" errorMsg" v-else-if="!validation.email && finalCheck"> 請輸入正確的電郵地址。</p>

                                                                            <p class="noteMsg">(優惠確認信將發送至上述電郵地址)</p>                                                       </div>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9 col-md-offset-1">
                                                                    <div class="col-sm-10 col-md-offset-2">
                                                                      <!--   <div class="row py-1">
                                                                            <div class="col-md-7 pr-0">
                                                                                <label class="primaryColor formTextWeight formLabelSize"> 曾經佩戴過隱形眼鏡* </label>
                                                                            </div>
                                                                            <div class="col-md-5 box-justify pr-0 pl-0">

                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        <input type="checkbox" v-model="previousProductFlag">
                                                                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                                        <span class="checkboxText">有</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        <input type="checkbox" v-model="noPreviousProductFlag">
                                                                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                                        <span class="checkboxText">沒有</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div> -->
                                                                        <div class="row py-1">
                                                                            <div class="col-md-4 pr-0">
                                                                                <label class="primaryColor formTextWeight formLongLabel desktopOnly"> 現時佩戴之<br/>品牌及產品*: </label>
                                                                                <label class="primaryColor formTextWeight formLabelSize mobileOnly"> 現時佩戴之品牌及產品*:</label>

                                                                            </div>
                                                                            <div class="col-md-7">
                                                                                <select id="current_product" name="current_product" class="selectBox" v-model="form.product" >
                                                                                    <option v-for="product in productList" :value="product.value">
                                                                                    {{product.text}}</option>
                                                                                </select>
                                                                                <p class="errorMsg" v-if="!validation.product && finalCheck"> 此欄必須填寫。</p>
                                                                            </div>
                                                                        </div>

                                                                        <div v-if="previousProductFlag"  class="row py-1">
                                                                            <div class="col-md-4 pr-0">
                                                                                <label class="primaryColor formTextWeight formLabelSize checkboxLabel"> 現時佩戴之產品*: </label>
                                                                                <span style="display: none !important;">{{previousProductTypeString}}</span>

                                                                            </div>
                                                                            <div class="col-md-7">
                                                                             <div class=" text-center  col-xs-4 pl-0 pr-0"><span class=" primaryColor formTextWeight formLabelSize">近視/遠視</span>
                                                                                 <div class="checkbox productCheckbox" >
                                                                                    <label>
                                                                                        <input type="checkbox" v-model="previousProductType.one"   >
                                                                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>

                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class=" text-center col-xs-4 pl-0 pr-0"><span class="primaryColor formTextWeight formLabelSize">散光</span>
                                                                             <div class="checkbox productCheckbox">
                                                                                <label>
                                                                                    <input type="checkbox" v-model="previousProductType.two"  >
                                                                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>

                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class=" text-center col-xs-4 pl-0 pr-0"><span class=" primaryColor formTextWeight formLabelSize" style="padding: 0 1rem;">漸進</span>
                                                                         <div class="checkbox productCheckbox">
                                                                            <label>
                                                                                <input type="checkbox" v-model="previousProductType.three">
                                                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>

                                                                            </label>
                                                                        </div>
                                                                    </div><p class="errorMsg" v-if="!validation.previousProductType && finalCheck"> 至少選擇一項及最多兩項。</p>

                                                                </div>
                                                            </div>

                                                            <div class="row py-1">
                                                                <div class="col-md-4 pr-0">
                                                                 <!--    <label class="primaryColor formTextWeight formLabelSize checkboxLabel"> 想試戴之博士倫產品*:</label> -->

                                                                 <label class="primaryColor formTextWeight formLongLabel desktopOnly">想試戴博士倫<br/>之產品*: </label>
                                                                 <label class="primaryColor formTextWeight formLabelSize mobileOnly"> 想試戴博士倫之產品*:</label>
                                                                 <span style="display: none !important;">{{expectedProductTypeString}}</span>

                                                             </div>
                                                             <div class="col-md-7">
                                                                 <div class=" text-center col-xs-4 pl-0 pr-0"><span class=" primaryColor formTextWeight formLabelSize">近視/遠視</span>
                                                                     <div class="checkbox productCheckbox">
                                                                        <label>
                                                                            <input type="checkbox" v-model="expectedProductType.one"   >
                                                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>

                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4 pl-0 pr-0 text-center"><span class="primaryColor formTextWeight formLabelSize" style="padding: 0 1rem;">散光</span>
                                                                 <div class="checkbox productCheckbox">
                                                                    <label>
                                                                        <input type="checkbox" v-model="expectedProductType.two"  >
                                                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>

                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4 pl-0 pr-0 text-center"><span class=" primaryColor formTextWeight formLabelSize" style="padding: 0 1rem;">漸進</span>
                                                             <div class="checkbox productCheckbox">
                                                                <label>
                                                                    <input type="checkbox" v-model="expectedProductType.three">
                                                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>

                                                                </label>
                                                            </div>
                                                        </div>
                                                        <p class="errorMsg" v-if="!validation.expectedProductType && finalCheck"> 至少選擇一項及最多兩項。</p>
                                                    </div>
                                                </div>


                                                   <!--      <div class="col-sm-12">
                                                            <div class="row py-1">
                                                                <div class="mb-1 col-sm-9 col-sm-offset-3 pr-0 pl-0 desktopOnly">
                                                                    <div class="col-sm-3 pl-0 text-center"><span class=" primaryColor formTextWeight formLabelSize">近視/遠視</span></div>
                                                                    <div class="col-sm-3 pl-0 text-center"><span class=" primaryColor formTextWeight formLabelSize">散光</span></div>
                                                                    <div class="col-sm-3 pl-0 text-center"><span class=" primaryColor formTextWeight formLabelSize">軸位</span></div>
                                                                     <div class="col-sm-3 pl-0 text-center"><span class=" primaryColor formTextWeight formLabelSize">老花加入度</span></div>
                                                                </div>
                                                                <div class="col-md-3 pr-0">
                                                                    <label class="primaryColor formTextWeight formLabelSize"> 左眼度數: <span class="mobileOnly">(近視/遠視、散光、軸位、老花加入度)</span></label>
                                                                </div>
                                                                <div class="col-md-9 pr-0 pl-0">
                                                                    <div class="col-sm-3 pl-0 selectBoxMargin">
                                                                        <select class="selectBox" v-model="form.leftShort">
                                                                            <option v-for="item in degreeList('S')" :value="item.value">{{item.text}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-3 selectBoxMargin pl-0">
                                                                        <select class="selectBox" v-model="form.leftLight">
                                                                            <option v-for="item in degreeList('L')" :value="item.value">{{item.text}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-3 selectBoxMargin pl-0">
                                                                        <select class="selectBox" v-model="form.leftAxis">
                                                                            <option v-for="item in degreeList('X')" :value="item.value">{{item.text}}</option>
                                                                        </select>
                                                                    </div>
                                                                      <div class="col-sm-3 selectBoxMargin pl-0">
                                                                        <select class="selectBox" v-model="form.leftAxis">
                                                                            <option v-for="item in degreeList('X')" :value="item.value">{{item.text}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div> -->

                                                        <!--     <div class="row">
                                                                <div class="col-md-3 pr-0">
                                                                    <label class="primaryColor formTextWeight formLabelSize"> 右眼度數: <span class="mobileOnly">(近視/遠視、散光、軸位、老花加入度)</span></label>
                                                                </div>
                                                                <div class="col-md-9 pr-0 pl-0">
                                                                    <div class="col-sm-3 selectBoxMargin pl-0">
                                                                        <select class="selectBox" v-model="form.rightShort">
                                                                            <option v-for="item in degreeList('S')" :value="item.value">{{item.text}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-3 selectBoxMargin pl-0">
                                                                        <select class="selectBox" v-model="form.rightLight">
                                                                            <option v-for="item in degreeList('L')" :value="item.value">{{item.text}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-3 selectBoxMargin pl-0">
                                                                        <select class="selectBox" v-model="form.rightAxis">
                                                                            <option v-for="item in degreeList('X')" :value="item.value">{{item.text}}</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-sm-3 selectBoxMargin pl-0">
                                                                        <select class="selectBox" v-model="form.rightAxis">
                                                                            <option v-for="item in degreeList('X')" :value="item.value">{{item.text}}</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="row py-1" style="margin-top: 2rem;">
                                                    <h4 class="text-center col-sm-12 primaryColor formTextWeight formLabelSize mb-3" > 請選擇到以下商店試戴*</h4>
                                                    <div class="row mt-1 storePaddingMobile">
                                                        <div class="col-sm-1 pr-0 col-sm-offset-3">
                                                            <label class="primaryColor formTextWeight formLabelSize
                                                            inputLabel" > 地區: </label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <select class="selectBox" v-model="form.region">
                                                                <option v-for="item in filteredRegionList" :value="item.value">{{item.text}}</option>
                                                            </select>
                                                            <p class="errorMsg" v-if="!validation.region && finalCheck"> 此欄必須填寫。</p>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1 storePaddingMobile">
                                                        <div class="col-sm-1 pr-0 col-sm-offset-3">
                                                            <label class="primaryColor formTextWeight formLabelSize inputLabel"> 地點: </label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <select class="selectBox" v-model="form.district">
                                                                <option v-if="! districtList" disabled>請先選擇地區</option>
                                                                <option v-for="item in districtList" :value="item.value">{{item.text}}</option>
                                                            </select>
                                                            <p class="errorMsg" v-if="!validation.district && finalCheck"> 此欄必須填寫。</p>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1 storePaddingMobile">
                                                        <div class="col-sm-1 pr-0 col-sm-offset-3">
                                                            <label class="inputLabel primaryColor formTextWeight formLabelSize"> 商店: </label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <select class="selectBox" v-model="form.store">
                                                                <option v-if="! storeList" disabled>請先選擇地區、地點</option>
                                                                <option v-for="item in storeList" :value="item">{{item.name}} ({{item.address}})</option>
                                                            </select>
                                                            <p class="errorMsg" v-if="!validation.store && finalCheck"> 此欄必須填寫。</p>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div id="form-paragraph" class="container-fluid">
                                                <div class="py-3">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center box-justify pl-0 pr-0" style="padding-top: 60px;">
                                                                <!--    <input type="checkbox" id="infoCollection" name="infoCollection" v-model="form.informationFlag"> <span class="systemText">我同意收取有關博士倫(香港)有限公司之產品及推廣活動資訊</span> -->
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" v-model="form.informationFlag">
                                                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                        <span class="systemText">我同意收取有關博士倫(香港)有限公司之產品及推廣活動資訊</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                             <!-- <div class="py-3">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-4 text-center box-justify col-md-offset-4">
                                              
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" v-model="form.emailFlag">
                                                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                        <span class="systemText">電郵</span>
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox marginLeft100">
                                                                    <label>
                                                                        <input type="checkbox" v-model="form.smsFlag">
                                                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                        <span class="systemText">短訊</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="py-3">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center " id="paragraph_1">
                                                                <p class="systemText">如有任何查詢，請於辦公時間內致電2213 3309或到博士倫香港Bausch + Lomb facebook專頁查詢。<br />我們會於辦公時間內回覆 (辦公時間為星期一至五早上10時至12時，下午2時半至5時 (公眾假期除外))。</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="py-3">
                                                    <div id="form-footer" class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-sm-6 form-left-button">
                                                                <button id="btnApply" class="button-box" @click="nextStep(2)" style=" background-image: url(image/submitBtn.png);"></button>
                                                            </div>
                                                            <div class="col-sm-6 form-right-button">
                                                                <button class="button-box" @click="formReset" style="background-image: url(image/resetBtn.png);"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- Registration Step 1 End-->
                                    <!-- Registration Step 2 -->
                                    <div v-if="workflowStep == 2">
                                        <div class="py-3">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-12  termsParagraph">

                                                        <h4 class="text-center" style="margin-bottom: 3rem; color: #148D00">博士倫Biotrue<sup>®</sup>1-DAY系列試戴體驗限時優惠推廣活動條款及細則</h4>
                                                          <p>1.&nbsp;&nbsp;&nbsp;&nbsp;
                                                          參加者之定義為從未登記參與及換領2019年12月27日至2020年3月31日博士倫Biotrue<sup>®</sup>1-DAY系列試戴體驗買2盒送$100超市禮券限時優惠及2020年4月1日至6月30日博士倫Biotrue<sup>®</sup>1-DAY系列試戴體驗限時優惠。</p>
                                                        <p>2.&nbsp;&nbsp;&nbsp;&nbsp;參加者成功於網上登記及到已揀選的試戴中心成功驗配可獲取10天試戴體驗。</p>
                                                        <p class="primaryColor">3.&nbsp;&nbsp;&nbsp;&nbsp;本推廣活動不包括眼科視光師之驗配費用，驗配費用及收取方式會由參與之試戴中心自行決定並擁有最終決定權，詳情請向參與之試戴中心查詢及預約有關服務。</p>
                                                        <p>4.&nbsp;&nbsp;&nbsp;&nbsp;參加者須於2020年7月1日至2020年12月31日內完成登記，優惠有效期為完成登記後14天（確實日期以短訊所示為準），逾期作廢。</p>
                                                        <p>5.&nbsp;&nbsp;&nbsp;&nbsp;本推廣活動只限於香港指定參與之試戴中心。</p>
                                                        <p>6.&nbsp;&nbsp;&nbsp;&nbsp;參加者只限登記及使用試戴體驗優惠一次及須到已揀選的試戴中心出示短訊以使用試戴體驗優惠。</p>
                                                        <p>7.&nbsp;&nbsp;&nbsp;&nbsp;參加者須預先致電或親臨指定試戴中心預約驗眼服務。</p>
                                                        <p>8.&nbsp;&nbsp;&nbsp;&nbsp;博士倫Biotrue<sup>®</sup>1-DAY系列適用於有近視、遠視、散光及老花人士使用。 參加者必須經由試戴中心之駐場眼科視光師驗眼，並以視光師驗之度數為準，駐場眼科視光師擁有最終決定權決定參加者是否適合佩戴是次推廣產品。如經眼科視光師驗眼後認為參加者不適合佩戴是次推廣產品，參加者將不可使用相關推廣優惠。 
                                                        </p>
                                                        <p>9.&nbsp;&nbsp;&nbsp;&nbsp;推廣優惠不可轉讓、兌換現金或其他產品。數量有限，送完即止。</p>
                                                        <p>10.&nbsp;&nbsp;&nbsp;&nbsp;所收集之個人資料，只用作活動登記。除非由參加者確認，否則博士倫(香港)有限公司不會用作其他推廣，更多有關博士倫保障閣下個人資料之事宜，可瀏覽私隱政策聲明www.biotrue.com.hk</p>
                                                        <p>11.&nbsp;&nbsp;如有任何爭議，博士倫(香港)有限公司擁有最終決定權。</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="py-3">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="text-center col-md-12 form-inline" style="font-size:16px; ">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" v-model="termsFlag">
                                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                <span class="systemText">我已閱讀並同意活動條款及細則</span>
                                                            </label>
                                                            <p class=" errorMsg" style="text-align: center !important;" v-if="!validation.termsFlag && finalCheck"> 請閱讀並同意活動條款及細則 </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center col-md-12 py-3">
                                            <button id="btnTnC" class="button-box confirmBtn" type="button" @click="nextStep(3)"></button>
                                        </div>
                                    </div>
                                    <!-- Registration Step 2 End -->
                                    <!-- Registration Step 3 -->
                                    <div v-if="workflowStep == 3">
                                        <div class="py-3" style="margin-top: 30px;">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3 class="text-center primaryColor formTextWeight" style="font-size: 26px;">登記成功</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="py-3">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="text-center systemGreyColor termsParagraph" style="padding: 0px 10% !important;">
                                                            <p style="text-indent: 0em !important; font-size: 1.6rem;">
                                                                你已成功登記博士倫Biotrue<sup>®</sup>1-DAY系列10天試戴體驗限時優惠。<br/>請查閱短訊及於優惠有效期內到已揀選之試戴中心出示短訊以享用優惠。優惠受有關條款及細則約束。</p>
                                                            <p style="text-indent: 0em !important; font-size: 1.5rem;">如有任何查詢，請於辦公時間內致電2213 3309或到博士倫香港Bausch + Lomb Facebook專頁查詢。我們會於辦公時間內回覆 (辦公時間為星期一至五早上10時至12時，下午2時半至5時 (公眾假期除外))。</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="py-3">
                                            <div id="form-footer" class="">
                                                <div class="row text-center">
                                                 <!--    <div class="col-sm-6 mb-1">
                                                        <button class="button-box" type="button" @click="nextStep(0)" style="background-image: url(image/productInfoBtn.png);"></button>
                                                    </div> -->
                                                    <div class="col-sm-12 mb-1">
                                                        <button id="btnThankyou" class="button-box" @click=" nextStep(4)" style="background-image: url(image/productInfoBtn.png)"></button>
                                                        <button id="btnThankyou" class="button-box" @click=" nextStep(1)" style="background-image: url(image/homepageBtn.png); margin-left:4rem; "></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Registration Step 3 End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 45px;"></div>
            </div>





        </div>  
        <div id="footerContainer"></div>

    </body>

    <script src="js/jquery.min.js"></script> <!-- jQuery 3.2.1 -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap 3.3.7 -->
    <script src="js/vue.min.js"></script>
    <!-- <script src="js/storeListData.js"></script> -->
    <script src="js/vue-router.js"></script>
    <script src="js/config.js"></script>
    <script src="js/momentjs.min.js"></script>
<script src="js/utils.js"></script>


    <script type="text/javascript">
// Basic Configuration
'use strict';

// Solve the Object.assign problem
if (typeof Object.assign != 'function') {
  Object.assign = function(target) {
    'use strict';
    if (target == null) {
      throw new TypeError('Cannot convert undefined or null to object');
  }

  target = Object(target);
  for (var index = 1; index < arguments.length; index++) {
      var source = arguments[index];
      if (source != null) {
        for (var key in source) {
          if (Object.prototype.hasOwnProperty.call(source, key)) {
            target[key] = source[key];
        }
    }
}
}
return target;
};
}


var formInitial = {
  // name: '',
  // gender: '',
  telephone: '',
  // email: '',
  // brand: '',
  product: '',
  // leftShort: '',
  // leftLight: '',
  // leftAxis: '',
  // rightShort: '',
  // rightLight: '',
  // rightAxis: '',
  region: '',
  district: '',
  store: '',
  informationFlag: false,
  // emailFlag: false,
  // smsFlag: false, // promoteCode:'',
  // birthMonth:'',
  previousProductType:"000",
  expectedProductType:"000",
};


var validationInitial = {
  // name: false,
  // gender: false,
  telephone: false,
  // email: false,
  // veriCode: false,
  // brand: false,
  product: false,
//   region: false,
//   district: false,
//   store: false,
  termsFlag: false,
  previousProductType: false,
  expectedProductType: false,
};
var selectionInitial = {
  // gender: [],
  // brand: [],
  product: [],
  // lens: [],
  // degree: {},
  region: [],
  district: {},
  store: {} 

};
var phoneSearchWatchDog = setTimeout(function () {}, 500);
var emailSearchWatchDog = setTimeout(function () {}, 500); // Vue Component

var app = new Vue({
  el: '#app',
  data: {
    workflowStep: 1,
    version: 1,
    phoneVeriCode: '',
    previousProductFlag: true,
    veriCodeCheckFlag: false,
    // noPreviousProductFlag: false,
    registrationID: '',
    termsFlag: false,
    form: {},
    selections: {},
    filteredRegionList:[],
    filteredDistrictList:{},
    filteredStoreList:{},
    finalCheck: false,
    validation: {},
    verify: {
      email: null,
      telephone: null,
      redeemed: null,
      product:null,
  },
  chosenAccountID:"",
  chosenProduct:"",
  chosenExpected:{
    one:false,
    two:false,
    three:false,
},
  previousProductType:{
    one:false,   // Myopia / Hyperopia
    two:false,   // Astigmatism
    three:false, // Progressive
},
expectedProductType:{
    one:false,
    two:false,
    three:false,
},
  // storeRegion: region,
  // storeListData: storeListData,
  // activeRegionIndex : 0 ,
  // newProductList:[]
},

watch: {
// previousProductFlag: function previousProductFlag(value) {
//   this.noPreviousProductFlag = !value;
//   this.form.product = "";
//   this.form.brand = "";
// },
// noPreviousProductFlag: function noPreviousProductFlag(value) {
//   this.previousProductFlag = !value;
// },
// 'form.brand': function formBrand(newVal) {
//   this.form.product = "";
// },
// 'form.region': function formRegion(newVal) {
//   this.form.district = "";
//   this.form.store = "";
// },
// 'form.district': function formDistrict(newVal) {
//   this.form.store = "";
// },
// 'form.emailFlag': function formEmailFlag(newVal) {
//   if (newVal) {
//     this.form.informationFlag = true;
// }
// },
// 'form.smsFlag': function formSmsFlag(newVal) {
//   if (newVal) {
//     this.form.informationFlag = true;
// }
// },
// 'form.informationFlag': function formInformationFlag(newVal) {
//   if (!newVal) {
//     this.form.smsFlag = false;
//     this.form.emailFlag = false;
// }
// },
'form.product': function formProduct(newVal){
    // console.log(newVal);
    if(newVal == 26){
        this.previousProductFlag = false;
        this.resetProductTypeValue('previousProductType');
    }else{
        this.previousProductFlag = true;
    }
},
'form.telephone': function formTelephone(newVal) {
    this.verify.telephone = null;
    this.verify.redeemed = null;
    if (!this.validTelephone(newVal)) {
        return;
    }

    clearTimeout(phoneSearchWatchDog);
    phoneSearchWatchDog = setTimeout(function () {
        app.verifyCheck('telephone', newVal);
    }, 500);
},

// 'form.email': function formEmail(newVal) {
//   if (!this.validEmail(newVal)) {
//     this.verify.email = null;
//     return;
// }

// clearTimeout(emailSearchWatchDog);
// emailSearchWatchDog = setTimeout(function () {
//     app.verifyCheck('email', newVal);
// }, 500);
// }
},
computed: {
    // getStoreList: function getStoreList(){
    //     var currentRegion = this.storeRegion[ this.activeRegionIndex ];
    //     return this.storeListData[currentRegion];
    // },
    previousProductTypeString: function previousProductTypeString(){
      let result = this.convertProductOptionToString('previousProductType');
        // console.log("previousProductType: "+ this.form.previousProductType);
        return "" ;
    },
    expectedProductTypeString: function expectedProductTypeString(){
        this.chosenExpected = JSON.parse(JSON.stringify(this.expectedProductType))
        let result = this.convertProductOptionToString('expectedProductType');
        // console.log("expectedProductType: "+ this.form.expectedProductType);
        // this.resetStoreValue();

        let productString = this.form.expectedProductType;
        if(productString != "000"){
            // this.updateFilteredStoreList(productString);
        }

        return "" ;
    },

    workflowStepImage: function workflowStepImage(){
        return "image/phase2/Desktop/trial-step"+ this.workflowStep+ "@2x.png";
    },

    veriCodeGenerate: function veriCodeGenerate() {
      var telephone = this.form.telephone;

      if (!telephone) {
        return "";
    }

    var str = telephone.split("").reverse().join("");
    var subStr = str.substring(0, 6);
    var subStr2 = str.substring(6, 8);
    var number = Number(subStr) + Number(subStr2) * 101010;
    number += 124962;
    str = number + "";
      str = str.substring(0, 6); // this.phoneVeriCode = str;

      return str;
  },
//   versionText: function versionText() {
//       var text = "";

//       if (this.version == 0) {
//         text = "產品版";
//     } else {
//         text = "註冊版";
//     }

//     return text;
// },
productList: function productList() {

//   var productList = this.selections.product['BI'];
//   var optionList = {
//     oneday: [{
//       text: "每日即棄",
//       value: "tag1",
//       disabled: true
//   }],
//   twoweek: [{
//       text: "兩星期即棄",
//       value: "tag2",
//       disabled: true
//   }],
//   other: [{
//       text: "其他",
//       value: "tag3",
//       disabled: true
//   }]
// };
// $.each(productList, function (index, value) {
//         // console.log(value);
//         switch (value.comment) {
//           case '每日即棄':
//           optionList.oneday.push(value);
//           break;

//           case '兩星期即棄':
//           optionList.twoweek.push(value);
//           break;

//           case '其他':
//           optionList.other.push(value);
//           break;
//       }
//   });
// var resultList = [];
// $.each(optionList, function (key, value) {
//         // console.log(value);
//         if (value.length > 1) {
//           resultList = resultList.concat(value);
//       }
//   });
// return resultList; 
return this.selections.product;


},
districtList: function districtList() {
    if(!this.form.region){return;}
    return this.filteredDistrictList[this.form.region];
},
storeList: function storeList() {
    if(!this.form.district){return;}
    return this.filteredStoreList[this.form.district];
},

},
methods: {
    // getBulletinMark: function getBulletinMark(value){
    //     if (value == 1 ){
    //         return "*";
    //     }else{
    //         return "";
    //     }
    // },
    // changeActiveRegion: function changeActiveRegion(index){
    //     this.activeRegionIndex = index;
    // },

    getTargetedStoreDetail: function getTargetedStoreDetail(ID){
        $.ajax({
        url: config.apiDomain + "/store/getFinalStoreDetail",
        type: 'GET',
        dataType: 'json',
        data: {storeID:ID}
    }).done(function (data) {
        if (data.status != 200) {
        alert("getAll" + key + " Error: " + data.status);
        return;
            } // console.log(data);
            console.log(app.form)
            app.form.store = data.data;
            app.form.region = data.data.region;
            app.form.district = data.data.district;
            console.log(app.form);
        }).fail(function () {
            alert("getAll" + key + " fail");
        });
    },   

    resetProductTypeValue: function resetProductTypeValue(productCategory){
        // console.log("reset product type");
        $.each(this[productCategory], function(key,value){
           app[productCategory][key] = false
       });
        this.form[productCategory] = "000";
        // console.log(this.form[productCategory]);
    },
    resetStoreValue: function resetStoreValue(){
        this.form.region = "";
        this.form.district = "";
        this.form.store = "";
    },
    convertProductOptionToString: function convertProductOptionToString(productCategory){ // String: productCategory
       var resultString = "";
       $.each(this[productCategory], function(key,value){
        if(value == true){
            resultString += "1";
        }else{
            resultString += "0";
        }
    });
       this.form[productCategory] = resultString;
       return  this.form[productCategory];  
   },
// degreeList: function degreeList(parentKey) {
//       return this.selections.degree[parentKey];
//   },
//   changeVersion: function changeVersion() {
//       if (this.version < 1) {
//         this.version = 1;
//     } else {
//         this.version = 0;
//     }
// },
// changeFlag: function changeFlag(item, value) {
//       // console.log(`${item} ${value}`);
//       console.log(this.previousProductFlag);
//   },
formReset: function formReset() {
  this.termsFlag = false;
  this.phoneVeriCode = '';
  this.previousProductFlag = true;
  this.resetProductTypeValue('previousProductType');
  this.resetProductTypeValue('expectedProductType');
  this.form = JSON.parse(JSON.stringify(formInitial));
  ;
},
getVeriCode: function getVeriCode() {
      this.validation.telephone = this.validTelephone(this.form.telephone) && !this.verify.telephone; // console.log("validation.telephone: "+ this.validation.telephone)

      this.veriCodeCheckFlag = true;

      if (!this.validation.telephone) {
        return -1;
    }

    this.veriCodeCheckFlag = false;
    var veriCode = this.veriCodeGenerate;
      var phone = "852" + this.form.telephone; // Test Version

      alert("驗證碼: " + veriCode); // Accessyou.com Live Version
      // var veriText = encodeURIComponent("驗證碼: " + veriCode);
      // alert("驗證碼已發出，請查收");
      // $.ajax({
      //     // 11031377 32687596
      //     type: "GET",
      //     url: "https://api.accessyou.com/sms/sendsms-vercode.php?user=cruiso.vercode&pwd=cis1272323&msg=" + veriText + "&phone=" + phone + "&accountno=11032748&from=Bausch%20Lomb",
      //     dataType: "xml",
      //     success: function(xml) {
      //         // var xmlDoc = $.parseXML(xml),
      //         // $xml = $(xmlDoc);
      //         // $msg_status = $xml.find( "msg_status" );
      //         // $("#someElement" ).append( $title.text() );
      //     }
      // });
  },
  validTelephone: function validTelephone(phone) {
      // console.log(phone)
      if (!phone) {
        return false;
    }

    var phoneno = /[0-9]/g;
    var result = phone.match(phoneno);

    if (result.length != 8) {
        return false;
    } else {
        return true;
    }
},
validEmail: function validEmail(email) {
  if (!email) {
    return false;
}

      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; // console.log(re.test(email));

      return re.test(email);
  },
  verifyCheck: function verifyCheck(key, value) {
      var _data;

      var keyString = "" + key;
      $.ajax({
        url: config.apiDomain + "/registration/verify",
        type: 'POST',
        dataType: 'json',
        data: (_data = {}, _data[key] = value, _data)
    }).done(function (data) {
        if (data.status != 200) {
          alert("Verify Error: " + data.status);
          return;
        }  console.log(data);
        app.verify[key] = data.data.result;
        app.verify.product = data.data.product;
        if(data.data.promoteStatus == 'N'){
            app.verify.redeemed = false;
        }else if (data.data.promoteStatus == 'Y'){
            app.verify.redeemed = true;
        }
        // app.validation[key] = true;
    }).fail(function () {
        alert("Verify fail");
    });
},
formValidation: function formValidation(step) {
  $.each(this.validation, function (key, value) {
        // console.log(key);
        // console.log(this.form[key]);
        switch (key) {
          // case 'veriCode':
          // if (!app.phoneVeriCode) {
          //     app.validation.veriCode = false;
          //     break;
          // }

          // if (app.phoneVeriCode != app.veriCodeGenerate) {
          //     app.validation.veriCode = false;
          // } else {
          //     app.validation.veriCode = true;
          // }

          // break;
          case 'previousProductType':
          case 'expectedProductType':
         //  let result = false;
         //  $.each(app.form[key], function(key1,value1){
         //     result = result || value;
         // });
         //  app.validation[key] = result;
         var originalLength = app.form[key].length;
         var afterLength = app.form[key].split("1").join("").length;
         var count = originalLength - afterLength;

         // console.log(key+" count:"+ count);
         if((count>0)&&(count<3)){
            app.validation[key] = true;
        }else{
            app.validation[key] = false;
        }
         // console.log(key+" validation:"+ app.validation[key]);
         break;

         case 'termsFlag':
         app.validation.termsFlag = app.termsFlag;
         break;

         case 'telephone':
          app.validation.telephone = app.validTelephone(app.form.telephone) && !app.verify.telephone;// Server verification
          break;

          // case 'email':
          //   // app.validation.email = app.validEmail(app.form.email) && !app.verify.email; 
          //   app.validation.email = app.validEmail(app.form.email);
          //   break;

            // case 'brand':
          //   case 'product':
          //   if (app.previousProductFlag == false) {
          //     // app.validation.brand = true;
          //     app.validation.product = true;
          //     break;
          // }
          default:
          if (!app.form[key]) {                
            app.validation[key] = false;
        } else {
          app.validation[key] = true;
      }

      break;
  }
});
  this.finalCheck = true;
  return this.validationFinalResult(step);
},
validationFinalResult: function validationFinalResult(step) {
      // console.log(this.validation);
      var result = true;
      // console.log(step);
      if (app.previousProductFlag == false) {
              // app.validation.brand = true;
              // app.validation.product = true;
              app.validation.previousProductType = true;
          }
          console.log(this.validation);
          switch (step) {
            case 1:
            $.each(this.validation, function (key, value) {
                if (key == "termsFlag") {
                  return;
              }

              result = result && value;
          // console.log(key+" "+ result);
      });
            break;

            case 2:
            result = this.validation.termsFlag;
            break;
        } 
      // console.log("final result :" + result);


      return result;
  },
  goToPageSection: function goToPageSection(section) {
      $('html, body').animate({
        scrollTop: $("#" + section).offset().top
    }, 500);
  },
  nextStep: function nextStep(_nextStep) {
      switch (_nextStep) {
        case 0:
        this.goToPageSection('section2');
        break;

        case 1: // Go to Home Page
        // this.formReset();
        // this.workflowStep = 1;
        document.location.href='./index.html';
        // this.goToPageSection('app');
        break;

        case 2:
        if (this.formValidation(1)) {
            if (!confirm("確認提交此優惠登記？")) {
                break;
            }
            // console.log(this.form);
            this.workflowStep = _nextStep;
            this.finalCheck = false;
            this.goToPageSection('form-bg');
        }else{
            this.goToPageSection('registrationFormHeader');
        }

        break;

        case 3:
        if (this.formValidation(2)) {
            this.workflowStep = _nextStep;
            this.formSubmit();
            this.finalCheck = false;
            this.goToPageSection('form-bg');
            // this.registrationSuccess();
        }

        break;

        case 4:
        document.location.href = './index.html#titleDivider2'

        break;
    }
},



formSubmit: function formSubmit() {
  console.log(app.form);
  console.log(this.storeList)
  this.chosenAccountID = this.form.store.accountID;
  this.chosenProduct = this.form.product
  var actualData = JSON.parse(JSON.stringify(this.form));
  actualData.store = this.form.store.ID;
  $.ajax({
    url: config.apiDomain + "/registration/submit",
    type: 'POST',
    dataType: 'json',
    data: actualData
}).done(function (data) {
    if (data.status != 200) {
      alert("Registration Error: " + data.status);
      return;
  } 
  let result = data.data;
  app.registrationID = result.ID;
        // app.emailService(data.data.ID);
        // app.workflowStep = 3;
        // app.registrationSuccess(result);
        app.shortenURL(result)
        app.formReset();
    }).fail(function () {
        alert("Registration fail");
    });
},
shortenURL: function shortenURL(record, retry = false){

        

        // var url = config.pageDomain + "/landing.html?code=" + record.promoteCode;

        // Biotrue Phase 4, Redemption Link Update

        var url = config.pageDomain + "/landing.html?code=" + record.promoteCode + "&type=2";

         // Bitly Related Note: 
         // Bit.ly V3 would be deprecated by March 2020
         // This addictional handling only available until 26 Apr 2020
         var bitlyDomain = "bit.ly";
         if(retry){
            bitlyDomain = "url.tarvel.co";
         }

         // Bit.ly v4
         var params = {
            // "group_guid": "biotrue",
            "domain": bitlyDomain,
            "long_url": url
        };
        var accessToken = '23fa65f793dabb08d2b7fe63200c559eac93a948';
         $.ajax({
            url: 'https://api-ssl.bitly.com/v4/shorten',
            dataType: "json",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(params),
            beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
            },
        }).done(function(data) {
            // console.log(data);
            app.registrationSuccess(record, data.link);
        }).fail(function(data) {
            // console.error(data);
            if(retry){
             alert("Shorten URL Failed, please try it later");
            }else{
                app.shortenURL(record, true);            
            }
        });
},

registrationSuccess: function registrationSuccess(record, landingURL){

    var expiredDate = moment(record.createTime).add(14, 'days').format("YYYY年MM月DD日");
    var trailStore = this.getStoreDetail(record.store);
    var veriText = ""
    var phone = record.telephone;
    var chosenStoreAccountID = this.chosenAccountID;
    var withinDateRange = moment(record.createTime).isSameOrAfter('2020-07-01') && moment(record.createTime).isSameOrBefore('2020-12-31');
    var specialCustomerCondiction = false;
    // if((this.chosenExpected.one && !this.chosenExpected.two && !this.chosenExpected.three) || (!this.chosenExpected.one && !this.chosenExpected.two && !this.chosenExpected.three)){
    //     currentWear = false;
    // }
    // else{
    //     currentWear = true;
    // }

    if( this.chosenExpected.two || this.chosenExpected.three ){
        specialCustomerCondiction = true;
    }

    if(chosenStoreAccountID == '502039' && specialCustomerCondiction && withinDateRange){
        // console.log(1)
        veriText = encodeURIComponent("[特選客戶]博士倫: 感謝登記博士倫Biotrue 1-DAY 體驗活動，你已被選中專享隱形眼鏡驗配服務一次!請憑此短訊於"+expiredDate+"前親臨<"+trailStore.name+"><"+trailStore.district+trailStore.address+"><電話: "+trailStore.phone+">，讓你感受16小時真·保濕。此活動由博士倫贊助並受有關條款及細則約束<https://bit.ly/3hBGpmJ>，詳情請向店員查詢。換領連結:<"+landingURL+"> 查詢/取消：22133309");
    }else{
        // console.log(2)
        veriText = encodeURIComponent("博士倫: 感謝登記博士倫Biotrue 1-DAY 體驗活動，請憑此短訊於"+expiredDate+"前親臨<"+trailStore.name+"><"+trailStore.district+trailStore.address+"><電話: "+trailStore.phone+">體驗產品。<"+landingURL+"> 查詢/取消：22133309");
    }

// console.log(veriText);

    // sendSMS(veriText, phone);

// $.ajax({
//           // 11033610 54483878
//           type: "GET",
//           // Test Server
//           url: config.smsDomain + "/sms/sendsms-utf8-senderid.php?accountno=11033610&pwd=54483878&msg=" + veriText + "&phone=852" + phone+"&size=l&from=BauschLomb",

//           dataType: "xml",
//           success: function(xml) {
//               // var xmlDoc = $.parseXML(xml),
//               // $xml = $(xmlDoc);
//               // $msg_status = $xml.find( "msg_status" );
//               // $("#someElement" ).append( $title.text() );
//           }
//       });
 },

getStoreDetail: function getStoreDetail(storeID){
    var storeObj = {
        name:'',
        region:'',
        district:'',
        address:'',
    };

    // console.log(this.selections.store)
    $.each(this.selections.store, function(district,array){
        $.each(array, function(index,store){
            if(store.ID == storeID){
                storeObj = store;
            }
        });
    });
    return storeObj;
},

emailService: function emailService(ID) {
  $.ajax({
    url: config.apiDomain + "/registration/email",
    type: 'POST',
    dataType: 'json',
    data: {
      'ID': ID
  }
}).done(function (data) {
    if (data.status != 200) {
      alert("EmailService Error: " + data.status);
      return;
  }
}).fail(function () {
    alert("EmailService fail");
});
},
getAllSelections: function getAllSelections(key) {
  $.ajax({
    url: config.apiDomain + "/selection/" + key + "List",
    type: 'GET',
    dataType: 'json',
    data: {}
}).done(function (data) {
    if (data.status != 200) {
      alert("getAll" + key + " Error: " + data.status);
      return;
        } // console.log(data);
        app.setAllSelections(key, data.data.list);
    }).fail(function () {
        alert("getAll" + key + " fail");
    });
},
setAllSelections: function setAllSelections(key, list) {
      // console.log(list);
      $.each(list, function (index, item) {
        if(item.version < 1){
            return;
        };
        if (app.selections[item.type]) {  
            if (item.parentKey) {
                if (!app.selections[item.type][item.parentKey]) {
                  app.selections[item.type][item.parentKey] = [];
              }

              if(key == 'store'){
                item.productString = app.getProductStringOfStore(item);
            }
            app.selections[item.type][item.parentKey].push(item);
        }else {
            app.selections[item.type].push(item);
        }
    }  
}); 
      if(key == 'store'){ // Initial filteredStoreList
        this.filteredStoreList = JSON.parse(JSON.stringify(this.selections.store));
        // console.log("init filteredStoreList")
        // console.log(this.filteredStoreList);
    }
},

getProductStringOfStore: function getProductStringOfStore(store){
    var productString = "";
    if(store.short == "Y"){productString += "1"}
        else{productString += "0"}
            if(store.light == "Y"){productString += "1"}
                else{productString += "0"}
                    if(store.axis == "Y"){productString += "1"}
                        else{productString += "0"}
                            return productString;
                    },

//                     updateFilteredStoreList: function updateFilteredStoreList(expectedProductString){
//                         var storeList = {};
//                         var districtList = [];
//                         console.log(app.selections)
//     $.each(app.selections.store, function(district,storeArray){ // Key: District, Value: Store Array
//         console.log(storeArray)
//        $.each(storeArray, function(index, store){    // index: store index, value: store data
//         if(app.isStoreContainsProduct (store.productString , expectedProductString)) {
//             districtList.push(district);
//             if (!storeList[district]) {
//               storeList[district] = [];
//           }
//           storeList[district].push(store);
//       }    
//   });
//    });
//    console.log(districtList)
//     this.filteredStoreList = JSON.parse(JSON.stringify(storeList));

//     this.updateFilteredRegionList(this.removeDuplicateElement(districtList));

// },
// updateFilteredRegionList: function updateFilteredRegionList(districtArray){
//     var regionList = [];
//     var districtList = {};
//     $.each(districtArray, function(index,district){
//         var districtPrefix = parseInt(district.charAt(0)); 
//         regionList.push(app.selections.region[districtPrefix - 1]);
//         app.updateFilteredDistrictList(district, districtList);
//     });
//     this.filteredRegionList = this.removeDuplicateElement(regionList);
// },
// updateFilteredDistrictList: function updateFilteredDistrictList(districtItem,districtList){
//     // console.log( this.removeDuplicateElement(districtArray));
//     // var districtList = this.removeDuplicateElement(districtArray);
//     // console.log(app.selections.district);
//     $.each(app.selections.district, function(region,districts){
//         $.each(districts, function(index, districtData){
//             if(districtData.value == districtItem){
//                 if(!districtList[districtData.parentKey]){
//                     districtList[districtData.parentKey] = [];
//                 }
//                 districtList[districtData.parentKey].push(districtData)
//             }
//         });
//     });
//     this.filteredDistrictList = JSON.parse(JSON.stringify(districtList));
// },


removeDuplicateElement: function removeDuplicateElement(array){
    var names = array;
    var uniqueNames = [];
    $.each(names, function(i, el){
        if($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
    });
    return uniqueNames;

},
isStoreContainsProduct: function isStoreContainsProduct(storeProductString, expectedProductString){
    if(!storeProductString ){return false;}
    var storeProductValue = parseInt(storeProductString , 2);
        // console.log('storeProductValue :'+ storeProductValue);
        var expectedProductValue = parseInt(expectedProductString , 2);
        var bitwiseResult = expectedProductString & storeProductValue;
        var result = false;
        if (bitwiseResult == expectedProductValue ){
            result = true;
        }
        return result;
    }
},
created: function created() {
    // if (this.version > 0) {
      let url = new URL(window.location.href)
      var storeID = url.searchParams.get("storeID");  
      this.form =  JSON.parse(JSON.stringify(formInitial));
      this.selections = JSON.parse(JSON.stringify(selectionInitial));
      this.validation = JSON.parse(JSON.stringify(validationInitial));
      this.getAllSelections('selection');
      this.getAllSelections('store');
      this.getTargetedStoreDetail(storeID);
      // this.shortenURL({promoteCode:'239243'});
}
}); // After Website Ready Funcitons

$(document).ready(function () {

        // Default Load Html components
        $('#headerContainer').load('./views/header.html');
        $('#footerContainer').load('./views/footer.html');
    });


</script>

</html>