<!DOCTYPE html>
<html>

<head>
	<!-- Share Tag -->
	<meta property="og:title" content="真。保濕 博士倫Biotrue 1-DAY購買地點" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://www.biotrue.com.hk/image/b+l_2019_mobile_bg.png" />
	<meta property="og:description" content="博士倫Biotrue®1-DAY全舒適CON系列，形成360鎖水屏障，帶來最高2倍淚水穩定力，長時間保持雙眼健康滋潤。" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

  <!-- Font Awesome 5.13.0 -->
  <!-- <link rel="stylesheet" href="css/all.min.css" type="text/css">  -->
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/map_style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <title>真。保濕 博士倫Biotrue 1-DAY購買地點</title>
</head>




<body>
	<div id="headerContainer"></div>

	<!-- Storelist Content -->
	<div class="bodyBackgroundColor"> 
    <!-- Biotrue Store List table -->
     <!--        <div id="storeList" class="storeListContainer container">
                <div class="row text-center"><h2 class="storeListTitle"> 購買地點 </h2></div>
                <div class="roundRectBackground" style="margin-bottom: 30px;"><ul class="nav nav-tabs">
                  <li v-for="(region,index) in storeRegion" @click="changeActiveRegion(region,index)" :class=" index == activeRegionIndex ? 'active' : '' " class="pointer"><a class="districtTabs storeListTextColor" >{{region}}</a></li>
              </ul>

              <div class="table-responsive  table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table table-striped ">
                    <thead class="storeListTextColor">
                      <tr>
                        <th scope="col">公司</th>
                        <th scope="col">地區</th>
                        <th scope="col">區域</th>
                        <th scope="col">地址</th>
                        <th scope="col">電話</th>
                        <th scope="col">Biotrue<sup>®</sup> 1-DAY<br/>近視/遠視</th>
                        <th scope="col">Biotrue<sup>®</sup> 1-DAY<br/>散光</th>
                        <th scope="col">Biotrue<sup>®</sup> 1-DAY<br/>漸進</th>

                    </tr>
                </thead>
                <tbody>
                  <tr v-for="store in getStoreList">
                    <th scope="row">{{store.name}}</th>
                    <td>{{store.region}}</td>
                    <td>{{store.district}}</td>
                    <td>{{store.address}}</td>
                    <td>{{store.telephone}}</td>
                    <td class="text-center storeListBulletin storeListTextColor">{{getBulletinMark(store.product1)}}</td>
                    <td class="text-center storeListBulletin storeListTextColor">{{getBulletinMark(store.product2)}}</td>
                    <td class="text-center storeListBulletin storeListTextColor">{{getBulletinMark(store.product3)}}</td>
                </tr>
                
            </tbody>
        </table>
   	 	</div>
   	 </div>
     </div> -->



     <!-- Google Interactive Map -->
     <div class="mapContainer">
      <div id="searchBox">
       <div class="row text-center"><h3 class="storeListTitle"> 購買地點 </h3></div>
       <div class="mapSearchBarContainer">
        <div id="searchBoxRow" class="row searchBarStyle">
          <div class="col-md-4 vcenter searchColumn">
          <!--   <label style="margin-bottom: 0px;"><h4 class="searchBarLabel">輸入地點搜尋</h4>
            </label>
            <input class="searchInput" type="text" v-model="searchText" placeholder="店舖名稱/地址/地區" >
            <button class="searchBtn" @click="storeSearch"><i class="fa fa-search searchIcon" aria-hidden="true"></i></button> -->
            <label style="margin-bottom: 0px;"><h4 class="searchBarLabel">店舖位置</h4>
            </label>
            <select class="searchInput searchSelect searchSelectGroup" v-model="searchRegion">
              <option value="0" disabled>地區</option>
              <option v-for="item in regionOptions" :value="item.value">{{item.text}}</option>
            </select>
            <select class="searchInput searchSelect searchSelectGroup" v-model="searchDistrict">
              <option value="0" disabled >區域</option>
              <option v-for="item in updatedDistrictList" :value="item.text">{{item.text}}</option>
            </select>
          </div>
          <div class="col-md-4 vcenter searchColumn">
            <label style="margin-bottom: 0px;"><h4 class="searchBarLabel">產品類別</h4>
            </label>
            <select class="searchInput searchSelect" v-model="searchFilter">

              <option v-for="item in filterOptions" :value="item.value">{{item.text}}</option>
            </select>
          </div>

          <div class="col-md-4 vcenter searchColumn">
            <label style="margin-bottom: 0px;"><h4 class="searchBarLabel">試用</h4>
            </label>
            <select class="searchInput searchSelect" v-model="searchOffer">

              <option v-for="item in offerOptions" :value="item.value">{{item.text}}</option>
            </select>
          </div>

        </div>
      </div>
      <!-- Overlay List Tab -->
      <div id="searchOverlayTable" v-if="searchResult.length > 0" class="storeOverlayTable">
        <div class="storeCellContainer" v-for="store in searchResult" >
          <h4 style="margin-bottom: 0px;"><span style='color:#319FBA' class="storeName" @click="findStoreOnMap(store)">{{store.name}}</span></h4>
          <span style='color:#888'>{{store.region}}{{store.district}}{{store.address}}</span><br/>
          <span style='color:#888'>電話: {{store.telephone}}</span><br/>
          <button class="searchBtn" v-if="store.freeTrial == 'Y' && store.trialOffer == 'Y'" @click="forwardToRegistration(store)">Trial ULTRA ONE DAY Free</button>
          <button class="searchBtn" v-else-if="store.freeTrial == 'Y'" @click="forwardToRegistration(store)">Trial ULTRA ONE DAY Free</button>
          <span v-else-if="store.freeTrial == 'N' && store.trialOffer == 'N'" class="searchBtnFalse" @click="forwardToRegistration(3)">Free Trial not yet available here.</span>
          <img v-if="store.short == 'Y'" class="productIcon" src="./image/phase2/Desktop/mapicon-svs.png" >
           <img v-if="store.light == 'Y'" class="productIcon" src="./image/phase2/Desktop/mapicon-toric.png" >
            <img v-if="store.axis == 'Y'" class="productIcon" src="./image/phase2/Desktop/mapicon-mf.png" >
        </div>
      </div>
    </div>

    <div id="map"></div>

  </div>


  <div id="footerContainer"></div>
</body>


<script src="js/jquery.min.js"></script> <!-- jQuery 3.2.1 -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap 3.3.7 -->
<script src="js/vue.min.js"></script>
<!-- <script src="js/storeListData.js"></script> -->
<script src="js/storeListData0330.js"></script>
<script src="js/config.js"></script>

<script src="js/vue-router.js"></script>

<script type="text/javascript">
  var updatedStoreList = [];
  var selectionInitial = {
  // gender: [],
  // brand: [],
  product: [],
  // lens: [],
  // degree: {},
  region: [],
  district: {},
  store: {} 

};

$(document).ready(function () {

		// Default Load Html components
		$('#headerContainer').load('./views/header.html');
		$('#footerContainer').load('./views/footer.html');

		// Archor scroll function
		$('a').click(function () {
			if(($(this).attr('href'))){
				$('html, body').animate({
					scrollTop: $($(this).attr('href')).offset().top
				}, 500);
				return false;
			}
		});


  // Get Lat & Long via Geocodeing
  // getLatLong(storeListJSON);

});




	// Vue Component Script
	var store = new Vue({
    el:'#storeList',
    data:{
      storeRegion: region,
      storeListData: [],
      activeRegionRegion : '香港' ,
      activeRegionIndex: 0,
    },
    created(){
      this.getFinalStoreList();


    },
    computed: {
      getStoreList: function getStoreList(){
      // if(this.storeListData.length<1){     
      // alert("no storeList")
      // }
      var currentRegion = this.activeRegionRegion;
      var selectedStoreList = [];
      $.each(this.storeListData, function(index, store){
        if(store.region == currentRegion){
          selectedStoreList.push(store)

        }
      });
      console.log(selectedStoreList)
      return selectedStoreList;
    }
  },


  methods:{

    getFinalStoreList: function getFinalStoreList(){
      $.ajax({
        url: config.apiDomain + "/store/getFinalList",
        type: 'GET',
        dataType: 'json',
        data: {}
      }).done(function (data) {
        store.storeListData = data.data.list;
      }).fail(function () {
        alert("Get Store List failed");
      });
    },
    getBulletinMark: function getBulletinMark(value){
      if (value == "Y" ){
        return "*";
      }else{
        return "";
      }
    },
    changeActiveRegion: function changeActiveRegion(region,index){
      this.activeRegionRegion = region;
      this.activeRegionIndex = index;
    },
  }

});

  var searchBox = new Vue({

    el:"#searchBox",
    data:{
      searchText:'',
      searchFilter: 0,
      searchRegion:0,
      searchDistrict:0,
      searchOffer:0,
      searchResult:[],
      selections:{},
      filterOptions:[
      {value: 0, text:'任何產品'},
      {value: "short", text:'Biotrue® 1-DAY 近視/遠視'},
      {value: "light", text:'Biotrue® 1-DAY 散光'},
      {value: "axis", text:'Biotrue® 1-DAY 漸進'},
      ],
      regionOptions:[
      {value: "KL", text: "九龍"},
      {value: "NT", text: "新界"},
      {value: "HK", text: "香港"},
      {value: "MO", text: "澳門"}
      ],
      offerOptions:[
      {value:0,text:"全部商舖"},
      {value:1,text:"Free trial + trial offers"},
      {value:2,text:"Free trial"},
      {value:3,text:"No Offer"}
      ]
    },
    created(){
      this.selections = JSON.parse(JSON.stringify(selectionInitial));
      this.getAllSelections('selection');
    },
    watch:{
      searchFilter: function searchFilter(newValue,oldValue){
        if(newValue == oldValue){
          return
        }else{
          this.storeSearch(false);
        }
      },
      searchDistrict: function searchDistrict(newValue,oldValue){
        // console.log(newValue)
        //         console.log(oldValue)

        if(newValue == oldValue){
          return
        }else{
          this.storeSearch(false);
        }
      },
      searchOffer: function searchOffer(newValue,oldValue){
        // console.log(newValue)
        //         console.log(oldValue)

        if(newValue == oldValue){
          return
        }else{
          this.storeSearch(false);
        }
      }
    },
    computed:{
      updatedDistrictList(){
        if(!this.searchRegion){
          return [];
        }
        let originList = this.selections['district'][this.searchRegion];
        // console.log(updatedStoreList)
        let updatedList = [];
        // let regionText = this.getRegionText(this.searchRegion);
        $.each(originList,  (index, district)=>{
          $.each(updatedStoreList, (index, store)=>{
            if(store.district == district.text){
                    // Represent the current District with result
                    updatedList.push(district);
                    return false
                  }
                });
        });
        return updatedList;

      }
    },
    methods:{

      findStoreOnMap: function findStoreOnMap(store){
          let focusStoreList = [];
          focusStoreList.push(store)
          initMap(focusStoreList, true);
          scrollMapAnimate();
      },

      getRegionText: function getRegionText(value){
        let regionText = '';
        $.each(regionOptions, function(index, region){
          if(region.value == value){
            regionText = region.text;
          }
        })
        return regionText
      },
      getAllSelections: function getAllSelections(key) {
        $.ajax({
          url: config.apiDomain + "/selection/" + key + "List",
          type: 'GET',
          dataType: 'json',
          data: {}
        }).done(function (data) {
          if (data.status != 200) {
            alert("getAll" + key + " Error: " + data.status);
            return;
        } // console.log(data);
        searchBox.setAllSelections(key, data.data.list);
      }).fail(function () {
        alert("getAll" + key + " fail");
      });
    },
    setAllSelections: function setAllSelections(key, list) {
      // console.log(list);
      $.each(list, function (index, item) {
        if(item.version < 1){
          return;
        };
        if (searchBox.selections[item.type]) {  
          if (item.parentKey) {
            if (!searchBox.selections[item.type][item.parentKey]) {
              searchBox.selections[item.type][item.parentKey] = [];
            }
            searchBox.selections[item.type][item.parentKey].push(item);
          }else {
            searchBox.selections[item.type].push(item);
          }
        }  
      }); 
      // console.log(store.selections)
    },

    storeSearch(isNotInitial = false){

      let searchText = this.searchDistrict;
      let searchFilter = this.searchFilter;   
      let searchOffer = this.searchOffer;     
      if(updatedStoreList.length == 0){
        alert("無法獲取商店列表，請稍候再試.")
        return ;
      }

      if((searchText == 0)&&(searchFilter == 0)&&(searchOffer == 0)&&(!isNotInitial)){
        return ;
      }

      let searchResultList = [];
      // console.log(updatedStoreList)
      $.each(updatedStoreList, function(index,store){
        let result = false;
      
          // Filter by SearchFilter
          if(searchFilter != 0){
            if(store[searchFilter] == 'Y'){
              result |= true;
            }
          }else{
            // Any Product
            result = true;
          }
      
          // Filter by search Text
        if(searchText != 0){
          if(store.district.includes(searchText)){ 
            result &= true; 
          }else{
            result &= false;
          }
        }
        if(searchOffer != 0){
          if(searchOffer == 1){
            if(store.freeTrial == 'Y' && store.trialOffer == 'Y')
            result &= true;
            else
            result &= false;
          }
          else if(searchOffer == 2){
            if(store.freeTrial == 'Y')
            result &= true;
            else
            result &= false;
          }
          else if(searchOffer == 3){
            if(store.freeTrial == 'N' && store.trialOffer == 'N')
            result &= true;
            else
            result &= false;
          }
        }
        else{
          result &= true;
        }
          // if(store.address.includes(searchText)){ result |= true;}
          // if(store.region.includes(searchText)){ result |= true;}
          // if(store.district.includes(searchText)){ result |= true;}

          if(result){
            searchResultList.push(store)
          }
        });
        console.log(searchResultList)
        if(searchResultList.length < 1){
          alert("沒有搜尋結果，請重新選擇搜索地區或產品類別。")
          return;
        }
        let resetCenter = true;
        if(searchText == ""){
          resetCenter = false;
        }
  
        scrollMapAnimate();
        // console.log(searchResultList)
        initMap(searchResultList, resetCenter)
        this.searchResult = searchResultList;
      },
      forwardToRegistration(store){
        let baseUrl = "http://localhost:8888/registration.html?";
        if(store){
          baseUrl = baseUrl + "storeID=" + store.ID;
        }
        window.open(baseUrl,"_self")
      }
    },
  });
function scrollMapAnimate(){
      let width = $( window ).width();
      var offset = 0;
      if (width < 1150){
        offset = 60;
      }
        $('html, body').animate({
          scrollTop: $("#searchBoxRow").offset().top + offset
        }, 200);
}

function initMap(storeList,resetCenter = false) {

  var center = {lat: 22.362497, lng: 114.1028364};
  var zoom = 11;
  // The location of Uluru
  if(!resetCenter){
  // The map, centered at Uluru
  var map = new google.maps.Map(
    document.getElementById('map'), {zoom: zoom, center: center, mapTypeId: google.maps.MapTypeId.ROADMAP,            disableDefaultUI: true
    });

}else{
  center = {lat: parseFloat(storeList[0]['latitude']),lng: parseFloat(storeList[0]['longitude'])};
  zoom = 15;
  var map = new google.maps.Map(
    document.getElementById('map'), {zoom: zoom, center: center, mapTypeId: google.maps.MapTypeId.ROADMAP,            disableDefaultUI: true
    });
}
//  Infowindow and Marker array sample, use later 
var marker, i, windowContent;
var infowindow = new google.maps.InfoWindow;

for (i = 0; i < storeList.length; i++) {  

  marker = new google.maps.Marker({
   position: new google.maps.LatLng(storeList[i]['latitude'], storeList[i]['longitude']),
   map: map,
   icon:{
    url:"https://biotrue.tarvel.co/image/phase2/Desktop/contact-anchor@2x.png"
  }
});
  google.maps.event.addListener(marker, 'click', (function(marker, i) {
   return function() {
     windowContent = "<p style='font-size:1.5rem;'><span style='color:#319FBA'>" +storeList[i].name + "</span> - <span style='font-weight:bold'>" + storeList[i].district + "</span><br/>"+
     storeList[i].address + "<br/>" +
     storeList[i].region + "<br/>";

     // Append Product Icon
     if(storeList[i]['product1'] == 'Y'){
      windowContent += "<img class='productIcon' src='./image/phase2/Desktop/mapicon-svs.png'></img>"
    }
    if(storeList[i]['product2'] == 'Y'){
      windowContent += "<img class='productIcon' src='./image/phase2/Desktop/mapicon-toric.png'></img>"
    }
    if(storeList[i]['product3'] == 'Y'){
      windowContent += "<img class='productIcon' src='./image/phase2/Desktop/mapicon-mf.png'></img>"
    }

    windowContent += "</p>";
    infowindow.setContent(windowContent);
    infowindow.open(map, marker);
  }
})(marker, i));
}

}




function getLatLong(storeList){
  $.each(storeList, function(index,store){
    // console.log(index);
    if(store.latitude > 0){
      return;
    }
    var storeItem = {
      ID: '',
      name:'',
      region:'',
      district:'',
      address:'',
      latitude:'',
      longitude:'',
      telephone:'',
      product1:'',
      product2:'',
      product3:'',
      version:'',
    };

      $.ajax({
        url: "https://maps.googleapis.com/maps/api/geocode/json?address="+store.address+"&key=AIzaSyDeX0IAX6w4V9cRuggHIq2d_jdKZhJzyTo",
        type: 'GET',
        dataType: 'json',
        data: {},
      }).done(function (data) {
        // console.log(data)

        storeItem = {
          ID: store.ID,
          name:store.name,
          region:store.region,
          district:store.district,
          address:store.address,
          telephone:store.telephone,
          product1:store.product1,
          product2:store.product2,
          product3:store.product3,
          version:1,
        }

        if(data.results[0]){
          storeItem.latitude = data.results[0].geometry.location.lat;
          storeItem.longitude = data.results[0].geometry.location.lng;
          setStoreLatLong(storeItem);
        }else{
          console.log("Geocoding can not found: " + store.name +" "+store.address);
        };
        // updatedStoreList.push(storeItem)
      }).fail(function () {
        console.log("Geocoding fail at: "  + store.name +" " + store.address);
      });
    });
}

function setStoreLatLong(store){
  // admin Token:
 $.ajax({
      url: config.apiDomain+"/store/updateStaticStore",
        type: 'POST',
        dataType: 'json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader("Authorization",  'dyt5IStaAn382ZjUJ71IKsJqMop5uUen');
        },
        data: store,
}).done(function (data) {
      if(data.status == 200){
        console.log("Store Latlong had been updated: "+ data.data.ID);
      }
  });

}

function getFinalList(){
 $.ajax({
  url: config.apiDomain + "/store/getFinalList",
  type: 'GET',
  dataType: 'json',
  data: {}
}).done(function (data) {
  console.log("Store List Update finished");
  updatedStoreList = data.data.list;
      // console.log(updatedStoreList)
      initMap(data.data.list); 
      // getLatLong(updatedStoreList)
    }).fail(function () {
      alert("Get Store List failed");
    });

  }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeX0IAX6w4V9cRuggHIq2d_jdKZhJzyTo&libraries=places&callback=getFinalList&language=zh-TW&region=HK"
async defer></script>