html, body { height: 100%; }

#share_this_button
{
  position: absolute;
  right: 15px;
  top: 100px;
}

.Remark {color:#666666;font-size:11px;margin:0 0 10px;padding:0 0 0 25px;}
#nav li#nav_home {position: absolute;top: 0px;right: 242px;}/*right: 404px;*/
#nav li#nav_about{position: absolute;top: 0px;right: 141px;}/*right: 303px;*/
#nav li#nav_faq{position: absolute;	top: 0px; right: 87px;}/*right: 192px;*/
#nav li#nav_inspiration {position: absolute;top: 0px;right: 6px;}/*right: 107px;*/
#nav li#nav_wheretofind {position: absolute;top: 0px;right: 0px; display:none;}/*right: 6px;*/
/*
#nav li#nav_world {
	position: absolute;
	top: 0px;
	right: 270px;
}

#nav li#nav_pro {
	position: absolute;
	top: 0px;
	right: 15px;
}
#nav ul#navlist #nav_pro img.off {
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	width: 90px;
	height: 32px;
}
#nav #pro_mouseover_text {
	position: absolute;
	right: 23px; 
	top: 40px;
	display: none;
}
*/

#home #bg_pageSpecific {
	background: url(../img/bg_home.gif) no-repeat center top;
	height: 606px;
	top: 100px;
}

#home #content {
	width: 960px;
	margin: 70px auto 0;
}

#home #content img#heightEnforce {
	height: 400px;
	width: 1px;
	float: left;
}

#home #content #text {
	width: 327px;
	position: absolute;
	left: 40px;
	#left: 40px;
}

#content p {font-size: 14px;line-height: 25px;} /*line-height: 20px;*/

#home #content h1#home_h1 {background: url(../img/hdr/home_h1.gif) no-repeat;width: 268px;height: 67px;margin-bottom: 10px;}

#home #content h1 span, #home #content h2 span {
	display: none;
}

#home #content h2 {background: url(../img/hdr/home_h2.gif) no-repeat;width: 237px;height: 18px;	margin-bottom: 20px;}

#content ul.generic li{background: url(../img/bullet_green.gif) no-repeat 0em 0.5em;#background: url(../img/bullet_green.gif) no-repeat 0em 0.6em;padding: 2px 0 8px 10px;margin: 0px;position: relative;z-index: 100;}/*padding: 2px 0 2px 10px;*/

#home #content ul.generic {
}

#home #content a.learnMore {width: 94px;height: 22px;margin: 0 0 15px 0px;}

#content p.localRetailer {
	color: #0093cc;
	font-size: 12px !important;
	margin-top: 15px;
}


#about #bg_pageSpecific {
	background: url(../img/bg_about.png) no-repeat center top;
	height: 606px;
	top: 100px;
}

#about #content {
	width: 960px;
	margin: 70px auto 0;
}

#about #content p {
	margin-bottom: 15px;
}

#about #content #text {
	width: 390px;
}

#about #content h1#about_h1 {background: url(../img/hdr/about_h1.gif) no-repeat;width: 328px;height: 33px;margin-bottom: 10px;}

#about #content p {
	margin-bottom: 15px;
}

#about #content #text {
	width: 390px;
}
/*
#about #content h1#about_h1 {
	background: url(../img/hdr/about_h1.gif) no-repeat;
	width: 321px;
	height: 33px;
	margin-bottom: 10px;
}
*/

#about #content h1 span, #about #content h2 span {
	display: none;
}

#about #content table.panel h1 {
	margin: 0 0 0 0;
}

#about #content table.panel h2 {
	color: #0093ff;
	font-weight: normal;
	font-size: 14px;
	margin: 0 0 10px 0;
}


#faq #content img#heightEnforce {
	height: 520px;
	width: 1px;
	float: left;
}

#faq #content h1 {width: 207px;	height: 28px;background: url(../img/hdr/faq_h1.gif) no-repeat;margin-bottom: 18px;}

#faq #content h1 span {
	display: none;
}

#faq #bg_pageSpecific {
	background: url(../img/bg_faq.png) no-repeat center top;
	top: 100px;
}

#faq #faq-panel {
	left: -18px;
	margin-bottom: 40px;
}

#faq #content table.panel td#contentTD .content {
	padding: 30px 30px 15px 30px;
}

#faq .question {color: #0093cc;font-size: 13px;line-height: 20px;cursor: pointer;cursor: hand;margin:5px 0;}/*margin:0;*/

#faq .answer{color: #000;font-size: 13px;line-height: 24px;display: none;width: 490px;}/*line-height: 20px;*/

#faq ul {
	list-style: none;
	margin: 0;
}

#faq #content ul li {
	padding: 15px 0;
	background: url(../img/faq_horizontalrule.png) no-repeat bottom;
}

#faq #content ul li:first-child {
	padding-top: 0;
}

#faq #content ul li.last {
	background: none;
}

#faq #blurb td {color: #4ab74e;	font-size: 20px; line-height:28px;} /*line-height:normal;*/
#faq #blurb td sup {color: #4ab74e; font-size:12px;}

#faq #blurb {
	position: absolute;
	left: 600px;
	top: 300px;
}

#faq #content {
	width: 960px;
	margin: 70px auto 0;
}

#faq #content a {
	color: #333;
}



#pr #content {
	margin: 70px auto 40px;
	width: 960px;
}

#pr #content h1#pr_h1 {
	margin-bottom: 18px;
	background: url(../img/hdr/pr_h1.gif) no-repeat;
	width: 200px; 
	height: 26px;
}

#pr #bg_pageSpecific {
	background: url(../img/bg_faq.png) no-repeat center 70px;
}

#pr #content p.intro {
	margin-bottom: 30px;
}

#pr #content h1 span {
	display: none;
}

#pr #content table#main h1 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #0093cc;
}

#pr #content #contentTD {
	padding-bottom: 0px;
}

#pr #content .downloadPDF {
	margin: 0 0 300px 0;
}

#pr .date {
	color: #0093cc;
	padding-bottom: 18px;
	font-size: 14px;
}

#pr p {
	width: 500px;
	margin-bottom: 0px;
}

#pr table#main p {
	width: 100%;
	line-height: 21px;
	padding-bottom: 10px;
}

#pr table#main {
	left: -18px;
	margin-bottom: 10px;
}

#pr #blurb {
	position: absolute;
	left: 635px;
	top: 250px;
}

#pr #blurb td {
	color: #4ab74e;
	font-size: 20px;
}


#world #content {
	width: 960px;
	margin: 70px auto 80px;
	min-height: 500px;
	#height: 500px;
}

#world #content #globe {
	position: absolute;
	left: 590px;
	top: -110px;
	width: 384px;
	height: 356px;
}

#world #content h1 {
	width: 432px;
	height: 64px;
	background: url(../img/hdr/world_h1.gif) no-repeat;
	margin-bottom: 18px;
}

#world #content h1 span {
	display: none;
}

#world .panel {
	left: -17px;
	margin-bottom: 0px;
}

#world #bg_pageSpecific {
	background: none;
}

#world #content p {
	margin-bottom: 15px;
}

#world .contentTD {
	padding-bottom: 25px;
}


#world .wideCTA {
	position: relative;
	top: -62px;
	left: 3px;
	z-index: 10;
}

#world #flashcontainer {
	top: -200px;
}

#inspiration #content {
	width: 960px;
	margin: 70px auto 20px;
	position: relative;
	left: 20px;
}

#inspiration #bg_pageSpecific {
	background: none;
}

#inspiration #content h1 {width: 320px;	height: 67px; background: url(../img/hdr/inspiration_h1.gif) no-repeat;	margin: 0px 0 11px 0; float: left;}  

#inspiration #content p {width: 315px;font-size: 14px;line-height: 26px;margin: 35px 40px 100px 0px;}/*line-height: 20px;*/

#inspiration #content h1 span {
	display: none;
}

#inspiration #video-container {
	float: left;
	width: 526px;
	height: 328px;
	position: relative;
	margin: 0 0 0 0px;
	background: url(../img/video-frame.png) no-repeat;
}

#inspiration #video-container .video-js-box {
	margin: 13px 0 0 22px;
}

#inspiration #text {
	float: left;
	width: 320px;
	margin-left: 0px;
}

#examples #bg_pageSpecific {
	background: none;
}

#examples #content p {
	color: #333;
	line-height: 20px;
}

#examples #globe {
	position: absolute;
	left: 710px;
	top: -90px;
	width: 230px;
	height: 221px;
}

#examples #content h1#examples_h1 {
	width: 686px;
	height: 31px;
	background: url(../img/hdr/examples_h1.gif) no-repeat;
	margin: 0 0 18px 0;
}

#examples #content h1#examples_h1 span {
	display: none;
}

#inspireGallery {
	width: 885px;
	position: relative;
}

#examples #heightEnforce {
	width: 1px;
	height: 500px;
	float: left;
}

#examples .intro {
	margin-bottom: 40px;
	width: 689px;
}

#examples .padding {
	padding: 0 35px;
}

#examples #content {
	width: 960px;
	margin: 70px auto 40px;
}

#examples .panel {
	width: 500px;
}

#inspireGallery a#prevBtn {
	position: absolute; 
	top: 119px;
}

#inspireGallery a#nextBtn {
	position: absolute; 
	top: 119px;
	right: 0px;
}

#inspireGallery #inspirationImg {
	position: absolute; 
	top: 0px;
	left: 76px;
 	width: 344px;
	height: 216px;
	background: url(../img/inspireGallery/photoframe.html) -7px -7px;
	#background: none;
	display: none;
}

#inspireGallery #inspirationImg img, #inspireGallery #resultImg img {
	#border: 1px solid #000;
}

#inspireGallery #resultImg {
	position: absolute; 
	top: 0px;
	left: 456px;
 	width: 344px;
	height: 216px;
	background: url(../img/inspireGallery/photoframe.html) -7px -7px;
	#background: none;
	display: none;
}

#inspireGallery #description {
	position: absolute;
	top: 180px;
	left: 120px;
	display: none;
}

#inspireGallery #description .contentTD {
	padding: 0 0 20px 0;
	
}

#inspireGallery #arrow {
	position: absolute;
	top: 62px;
	left: 396px;
	
}

#inspireGallery #arrow-ie {
	position: absolute;
	top: 60px;
	left: 396px;
	display: none;
}

#inspireGallery #arrow-else {
	position: absolute;
	top: 60px;
	left: 396px;
	display: none;
}

#inspireGallery #inspirationImg img, #inspireGallery #resultImg img {
	position: relative;
	top: 5px;
	left: 29px;
}

#inspireGallery #contentTD p {
	width: 100%;
	line-height: 20px;
}

#importance #globe {
	position: absolute;
	left: 710px;
	top: -90px;
	width: 230px;
	height: 221px;
}

#importance #content {
	width: 960px;
	margin: 70px auto 50px;
	min-height: 450px;
	#height: 450px;
}

#importance #bg_pageSpecific {
	background: none;
	margin-top: 70px;
}

#importance #content h1 {
	background: url(../img/hdr/importance_h1.gif) no-repeat;
	width: 296px;
	height: 32px;
	margin-bottom: 30px;
}

#importance #content .panel p {
	padding-bottom: 15px;
}

#importance #content h1 span {
	display: none;
}

#importance .panel, #healthapply .panel {
	left: -17px;
	margin-bottom: 60px;
}

#importance .panel td#contentTD, #healthapply .panel td.contentTD {
	padding-bottom: 10px;
}

#importance .panel td#contentTD .content, #healthapply #content .panel p.bottom {
	padding-right: 30px !important;
}

#importance #content .stockimg {
	position: absolute; 
	left: 650px;
	top: 200px;
	z-index: 5;
}

#healthapply #bg_pageSpecific {
	background: none;
}

#healthapply #content {
	width: 960px;
	margin: 70px auto 50px;
	min-height: 450px;
	#height: 450px;
}

#healthapply #content h1 {
	width: 686px;
	height: 31px;
	background: url(../img/hdr/healthapply_h1.gif) no-repeat;
	margin-bottom: 30px;
}

#healthapply #globe {
	position: absolute;
	left: 710px;
	top: -90px;
	width: 230px;
	height: 221px;
}

#healthapply #content p {
	margin-bottom: 15px;
}

#healthapply #content h1 span {
	display: none;
}

#healthapply #content .stockimg {
	position: absolute; 
	left: 650px;
	top: 200px;
	z-index: 5;
}

#innovations {
	width: 860px;
	padding-bottom: 20px;
}

#innovations h1 {
	color: #4ab74e;
	font-size: 16px;
	font-weight: normal;
}

#innovations h2 {
	color: #0093cc;
	font-weight: normal;
	font-size: 14px;
}

#innovations p {
	font-size: 12px;
	margin: 15px 0 0 0;
}

#innovations img {
	float: left;
	padding-right: 10px;
}

#innovations .innovation {
	overflow: auto;
	margin-bottom: 20px;
}

#innovations ul li {
	font-size: 12px;
}

#innovation1, #innovation2, #innovation3 {
	border-bottom: 1px solid #999;
}

#about .heightEnforce {
	height: 350px;
	width: 1px;
	float: left;
}

#wheretofind #content h1 {
	background: url(../img/hdr/wheretofind_h1.gif) no-repeat;
	width: 313px;
	height: 94px;
	margin-bottom: 25px;
}

#wheretofind #content h1 span {
	display: none;
}

#wheretofind #content {
	width: 880px;
	margin: 70px auto 70px;
}

#wheretofind #bg_pageSpecific {
	background: url(../img/bg_home.gif) no-repeat center 0px;
	margin-top: 100px;
}

#wheretofind .retailer
{
  clear: both;
  margin-bottom: 10px;
}

#wheretofind .retailer a
{
  color: #0093cc;
  font-size: 14px;
}

#wheretofind .retailer_img
{
  float: left;
  height: 70px;
  width: 150px;
}

#wheretofind .retailer_img img
{
  display: block;
  margin: 0 auto;
}

#wheretofind .retailer_name
{
  display: block;
  height: 42px;
  margin-left: 200px;
  padding-top: 28px;
  width: 170px;
}

#whiteBG {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: -1;
	display: none;
}

#coupon #content img#heightEnforce {
	height: 520px;
	width: 1px;
	float: left;
}

#coupon #content h1 {
	width: 447px;
	height: 99px;
	background: url(../img/hdr/coupon.gif) no-repeat;
	margin-bottom: 24px;
}

#coupon #content h2 { 
  color: #0093cc;
  font-size: 18px;
  font-weight: normal;
}

#coupon #content p.description {
  color: #333;
  font-size: 12px;
  padding-bottom: 40px;
}

#coupon #content h1 span {
	display: none;
}

#coupon #bg_pageSpecific {
	background: url(../img/bg_faq.png) no-repeat center top;
	top: 100px;
}

#coupon #faq-panel {
	left: -18px;
	margin-bottom: 40px;
}

#coupon #content table.panel td#contentTD .content {
	padding: 30px 30px 15px 30px;
}

#coupon .question {
	color: #0093cc;
	font-size: 13px;
	line-height: 20px;
	cursor: pointer;
	cursor: hand;
}

#coupon .answer {
	color: #000;
	font-size: 13px;
	line-height: 20px;
	display: none;
	width: 490px;
}

#coupon ul {
	list-style: none;
	margin: 0;
}

#coupon #content ul li {
	padding: 15px 0;
	background: url(../img/faq_horizontalrule.png) no-repeat bottom;
}

#coupon #content ul li:first-child {
	padding-top: 0;
}

#coupon #content ul li.last {
	background: none;
}

#coupon #blurb td {
	color: #4ab74e;
	font-size: 20px;
}

#coupon #blurb {
	position: absolute;
	left: 600px;
	top: 300px;
}

#coupon #content {
	width: 960px;
	margin: 11px auto 0;
}

#coupon #content a {
	color: #333;
}

#coupon #content form fieldset {
  border: 0;
}

#coupon #content form ul li.noborder {
  background: none;
  padding: 4px 0;
}

#coupon #content form ul li.paddingBottom {
  padding: 4px 0 15px 0;
}

#coupon #content form ul li.paddingTop {
  padding: 15px 0 4px 0;
}

#coupon #content form ul li.checkbox input {
  border: none;
  float: left;
  margin-right: 4px;
  margin-top: 6px;
  width: auto;
}

#coupon #content form ul li.checkbox label {
  float: left;
  width: 240px;
}

#coupon #content form li label {
  color: #999;
  display: block;
  font-size: 12px;
  padding-bottom: 1px;
}

#coupon #content form li label span {
  color: #0093cc;
  font-weight:bold;
  padding-right: 1px;
}

#coupon #content form li input, #coupon #content form li select {
  background-color: #fcfffb;
  border: 1px solid #ccc;
  color: #333;
  margin-bottom: 8px;
  padding: 6px 6px;
  width: 455px;
}

#coupon #content form li select {
  width: 469px;
}

#coupon .floatLeft {
  float: left;
}

#coupon .floatRight {
  float: right;
}

#coupon form button {
  background: url('../img/submit_off.gif') no-repeat 0 0;
  border: 0;
  cursor: pointer;
  display: block;
  height: 33px;
  text-indent: -5000em;
  width: 77px;
}

#coupon form button:hover {
  background: url('../img/submit_on.gif') no-repeat 0 0;
}

#coupon #features {
  clear: both;
}

#coupon #content .padding {
  float: left;
  padding-right: 15px;
  width: 575px;
}

#coupon .column2 {
  float: left;
  padding-top: 400px;
  width: 240px;
}

#coupon .column2 h2 {
  padding-bottom: 28px;
}

#coupon .column2 p {
  color: #999;
  font-size: 11px;
  line-height: 14px;
  padding-bottom: 28px;
}

#coupon #content .column2 p a:link, #coupon .column2 p a:visited {
  color: #0093CC;
  text-decoration: none;
}

#coupon #content .column2 p a:hover, #coupon .column2 p a:active {
  color: #4ab64e;
  text-decoration: none;
}

#coupon li .error-message {
  background-color: #fbe3e3;
  border: 1px solid #e64545;
  color: #e64545;
  padding: 4px;
  width: 459px;
}


/*thanks page*/
#thanks #bg_pageSpecific {
	background: url(../img/bg_faq.png) no-repeat center top;
	top: 100px;
}

#thanks #content {
	height: 480px;
	width: 320px;
	padding: 45px 400px 0 0;
}

#thanks #content h1 {
	height: 65px;
	background: url(../img/hdr/thanks_h1.gif) no-repeat;
	text-indent: -9999px;
	margin-bottom: 30px;
}

#thanks #content A {
	color: #0093CC;
	text-decoration: none;
}

#thanks #content A:hover {
	color: #4AB64E;
}


/*contest page*/
#contest #bg_pageSpecific {
	background: url(../img/bg_burst.png) no-repeat center top;
	top: 140px;
}

#contest #content {
	width: 810px;
	height: 520px;
}

#contest #content .panel {
	margin-left: 29px;
}

#contest .panel td.contentTD {
	background: url(../img/bg_postal.gif) no-repeat 100% 100%;
}

#contest .panel td.contentTD .content {
	padding: 0;
	background: url(../img/bg.contest.panel.gif) no-repeat; 
}

#contest .panel .contest-inspiration {
	padding: 19px 10px 1px 27px; 
}

* HTML #contest .panel .contest-inspiration {
	position: relative;
}

#contest .panel .contest-inspiration H1 {
	background: url(../img/hdr/hdr.inspiration-contest.gif) no-repeat 100% 0; 
	text-indent: -9999px;
	height: 95px;
	width: 346px;
	padding: 0;
}

#contest .panel .contest-inspiration P {
	margin: 0 15px 15px 0;
} 

#contest .panel .contest-inspiration STRONG {
	font-weight: normal;
	color: #00A5E6;
}

#contest .panel IMG.button {
	display: block; 	
}

#contest #content .stockimg {
	position: absolute; 
	left: 450px;
	top: 0px;
	z-index: 5;
}

/*event page*/
#event #content {width: 960px;margin: 100px auto 0 126px;; }
#event #content img#heightEnforce {
	height: 520px;
	width: 1px;
	float: left;
}

#event #content h1 {width: 400px;	height: 70px;	background: url(../img/hdr/event.gif) no-repeat;	margin-bottom: 24px;}

#event #content h2 { 
  color: #0093cc;
  font-size: 18px;
  font-weight: normal;
}

#event #content p.description { color: #333; font-size: 12px; padding-bottom: 12px; line-height:18px;}

#event #content h1 span {
	display: none;
}

#event #bg_pageSpecific {background: url(../img/bg_event2.png) no-repeat left top;top: 100px; min-height: 980px;}
#event #bg_pageSpecific.ipad {background: url(../img/bg_event1.png) no-repeat left top;top: 100px; min-height: 980px;}


#event #faq-panel {left: -18px;margin-bottom: 40px;margin-top:24px;}

#event #content table.panel td#contentTD .content {
	padding: 30px 30px 15px 30px;
}

#event .question {
	color: #0093cc;
	font-size: 13px;
	line-height: 20px;
	cursor: pointer;
	cursor: hand;
}

#event .answer {
	color: #000;
	font-size: 13px;
	line-height: 20px;
	display: none;
	width: 490px;
}

#event ul {
	list-style: none;
	margin: 0;
}

#event #content ul li {
	padding: 15px 0;
	background: url(../img/faq_horizontalrule.png) no-repeat bottom;
}

#event #content ul li:first-child {
	padding-top: 0;
}

#event #content ul li.last {
	background: none;
}

#event #blurb td {
	color: #4ab74e;
	font-size: 20px;
}

#event #blurb {
	position: absolute;
	left: 600px;
	top: 300px;
}



#event #content a {
	color: #333;
}

#event #content form fieldset {
  border: 0;
}

#event #content form ul li.noborder {
  background: none;
  padding: 4px 0;
}

#event #content form ul li.paddingBottom {
  padding: 4px 0 15px 0;
}

#event #content form ul li.paddingTop {
  padding: 15px 0 4px 0;
}

#event #content .checkbox{
	display: block;
	padding-top: 5px;
}

#event #content .checkbox  input{
	float: left !important;
	width: 20px;	
	border: 0px;
}

#event #content .checkbox  label{
	float: left !important;
	width: 400px;	
	padding-top: 5px;
}

#event #content form ul li.checkbox input {
  border: none;
  float: left;
  margin-right: 4px;
  margin-top: 6px;
  width: auto;
}

#event #content form ul li.checkbox label {
  float: left;
  width: 240px;
}

#event #content form li label {
  /*color: #999;*/
  color: #333333;
  display: block;
  font-size: 12px;
  padding-bottom: 1px;
}

#event #content form li span {
  font-size: 12px;
}

#event #content form li label span {
  color: #0093cc;
  font-weight:bold;
  padding-right: 1px;
}

#event #content form li input, #event #content form li select {
  background-color: #fcfffb;
  border: 1px solid #ccc;
  color: #333;
  margin-bottom: 8px;
  padding: 6px 6px;
  width: 470px;
}

#event #content form li select {
  width: 480px;
}

#event .floatLeft {
  float: left;
}

#event .floatRight {
  float: right;
}

#event form button,
#event form .submit
 {  background: url('../img/submit_off.gif') no-repeat 0 0;  border: 0 !important;  cursor: pointer;  display: block;  height: 20px;  text-indent: -5000em;  width: 60px;}

#event form button:hover,
#event form .submit:hover
{
  background: url('../img/submit_on.gif') no-repeat 0 0;
}

#event #features {
  clear: both;
}

#event #content .padding {
  float: left;
  padding-right: 15px;
  width: 575px;
}

#event .column2 {float: left;padding-top: 500px; width: 200px;}

#event .column2 h2 {padding-bottom: 10px;}

#event .column2 ol, #event .column2 p {
  color: #999;
  font-size: 11px;
  line-height: 18px;
  padding-bottom: 28px;
}

#event .column2 ol { margin:0 0 0 25px; padding:0;}
#event .column2 ol li { margin:0;  padding:0;}

#event #content .column2 p a:link, #event .column2 p a:visited {
  color: #0093CC;
  text-decoration: none;
}

#event #content .column2 p a:hover, #event .column2 p a:active {
  color: #4ab64e;
  text-decoration: none;
}

#event li .error-message {
  background-color: #fbe3e3;
  border: 1px solid #e64545;
  color: #e64545;
  padding: 4px;
  width: 459px;
}