*html {
	height: 100%;
}

body {
	background: #E5F7CA url(../img/bg.body.gif) repeat-x;
	margin: 0;
	font-family: Arial, Verdana;
	min-width: 960px;
}

a img {
	border: none;
}

.clearFloat {
	clear: both;
}

#content {
	margin: 0 auto;
	position: relative;
}

h1, h2, p {
	margin: 0;
}

sup, sub { 
	vertical-align: 0; 
	position: relative; 
}

sup { 
	bottom: 1ex; 
}

sub { 
	top: 0.8ex; 
}

.moreInfo {
	text-decoration: none;
	color: #0093cc;
	cursor: pointer;
}

a#logo_biotrue {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 98;
}

ul {
	margin: 10px 0 10px 0;
	list-style: none;
	font-size: 14px;
	padding: 0;
}
/*
#content p, #content ul {
	color: #333;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
}
*/
#bg_pageSpecific {
	width: 100%;
	height: 606px;
	position: absolute; 
	overflow: hidden;
	left: 0px;
	top: 0px;
	z-index: -1;
}
/*
#widthHeightConstrainer {
	position: relative;
	width: 80%;
	margin: 0 auto;
}
*/
.tooltip {
	display:none;
	background: #fff;
	font-size: 12px;
	width: 334px;
	padding: 0px;
	color: #000;
	-moz-box-shadow: 2px 2px 11px #666;
	-webkit-box-shadow: 2px 2px 11px #666;
	opacity: 0.9;
	position: relative;
	top: 124px;
	left: 80px;
	z-index: 1000;
}

.tooltip img.tooltipCorner {
	position: absolute;
	top: 0px;
	left: 0px;
}

.tooltip img.tooltipClose {
	margin: 11px 0 14px 23px;
	cursor: pointer;
}

.tooltip div.padding {
	font-size: 11px !important;
	padding: 14px 0px 5px 0px; 
	margin: 0 20px; 
	border-bottom: 1px solid #ccc;
}

.tooltip div p {
	margin-bottom: 7px;
}


/* NAVBAR */

#nav {
	position: relative;
	right: 0px;
	top: 0px;
	white-space: nowrap;
	z-index: 98;
	width: 100%; /*593px;*/
	height: 160px; 
}

#nav ul#navlist {
	margin: 0 0 0 0px;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	display: block;
	height: 57px;
}

#nav ul#navlist li.divider {
	background: url(../img/nav/divider.gif) no-repeat top left;
	padding-right: 3px;
}

#nav ul#navlist li ul {
	display: none;
	list-style: none;
	margin: 0 0 0 3px;
}

ul.sub li {
	float: none;
	font-size: 12px;
	padding: 0 0px 4px 9px;	
}

#nav ul#navlist {

}

ul.sub li a {
	text-decoration: none;
	color: #0093cc;
}

#nav ul#navlist ul li .disableRollover {
	color: #4ab74e !important;
}

#nav li li.selected {
	background: url(../img/bullet_green.gif) no-repeat 0em 0.3em;
	#background: url(../img/bullet_green.gif) no-repeat 0em 0.5em;
}


/* FOOTER */

#footer {
	position: absolute;
	width: 100%;
	height: 40px;
	background: url(../img/bg_footer.jpg) repeat-x bottom;
	bottom: 0px;
	min-width: 960px;
}
#footer #copyrightnotice{position:absolute; right:0; bottom:0px; color:#DDDDDD; font-size:11px; padding:0 5px 3px 0;}

.js #footer {
	visibility: hidden;
}

#footer #leftglow {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#footer #rightglow {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#footer #logo_bausch {
	position: absolute;
	top: 10px;
	left: 5px;
}

#footer ul#links {
	color: #ddd;
	text-align: right;
	font-size: 11px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 39px;
}

#footer ul#links li {
	color: #ddd;
	text-decoration: none;
	padding: 7px 0 0;
	float: left;
}

#footer ul#links li a {
	color: #ddd;
	text-decoration: none;
	padding: 0 5px;
}

#footerWidthConstraint {
	width: 960px;
	height: 40px;
	position: relative;
}




/* FEATURES */

#features {
	margin: 0px auto 0;
	min-height: 139px;
	#height: 139px;
	width: 960px;
	position: relative;
}

#features .feature {
	padding-left: 2px;
	width: 308px;
	min-height: 139px;
	#height: 139px;
	float: left;
}

#features .feature .featureImg {
	float: left;
	width: 115px;
	height: 139px;
}

#features .feature h1 {
	margin: 20px 0 0 0;	
	font-size: 14px;
	font-weight: normal;
	float: left;
}

#features .feature p {
	font-size: 12px;
	color: #417443;
	padding: 0;
	margin: 10px 0;
	float: left;
	width: 193px;
}

#features .feature h1 a {
	text-decoration: none;
	color: #0093cc;
}

#features .feature a.cta {
	position: relative;
	float: left;
	width: 100px;
	height: 20px;
}




#content p {
	font-size: 14px;
	line-height: 20px;
}

#content .padding {
	padding: 0 40px;
}

#content table#blurb td.contentTD .content {
	padding: 20px 20px 15px 20px; 
}

p.focus {
	font-weight: bold;
}

#debug {
	display: block;
}




/* PANEL TEMPLATE */

.panel {
	border-collapse: collapse;
	z-index:3;
	position: relative;
}

.panel td {
	padding: 0;
	overflow: hidden;
}

.panel td.topLeft {
	width: 16px;
}

.panel td.topLeft div.pngBG {
	width: 16px;
	height: 5px;
	background: url(../img/panel/topleft.png) no-repeat;
	overflow: hidden;
}

.panel td.top {
	height: 5px;
}

.panel td.top div.pngBG {
	background: url(../img/panel/top.png) no-repeat;
	height: 5px;
	overflow: hidden;
}

.panel td.topRight {
	width: 16px;
	height: 5px;
}

.panel td.topRight div.pngBG {
	width: 16px;
	height: 5px;
	background: url(../img/panel/topright.png) no-repeat;
	overflow: hidden;
}

.panel td.left {
	width: 16px;
}

.panel td.left div.pngBG {
	width: 16px;
	height: 100%;
	background: url(../img/panel/left.png) no-repeat;
	overflow: hidden;
}

.panel td.right {
	width: 16px;
}

.panel td.right div.pngBG {
	width: 16px;
	background: url(../img/panel/right.png) no-repeat;
	overflow: hidden;
}

.panel td.bottomLeft {
	height: 48px; 
	width: 16px;
}

.panel td.bottomLeft div.pngBG {
	background: url(../img/panel/bottomleft.png) no-repeat;
	height: 48px; 
	width: 16px;
	overflow: hidden;
}

.panel td.bottom {
	height: 48px;
}

.panel td.bottom div.pngBG {
	width: 100%;
	height: 48px;
	background: url(../img/panel/bottom.png) no-repeat;
	overflow: hidden;
}

.panel td.bottomRight {
	width: 16px;
	height: 48px;
}

.panel td.bottomRight div.pngBG {
	background: url(../img/panel/bottomright.png) no-repeat;
	width: 16px;
	height: 48px;
	overflow: hidden;
}

.panel td.contentTD {
	background-color: #fff !important;
	opacity: .8;
	vertical-align: top;
}

.panel td.contentTD .content {
	padding: 22px 22px 0 22px;
	vertical-align: top;
}

.panel h1 {
	padding: 0px 22px 5px 0px;
	margin: 0;
	font-size: 18px;
	color: #4ab64e;
	font-weight: normal;
}

.panel h2 {
	padding: 0px 22px 5px 0px;
	margin: 0;
	font-size: 18px;
	color: #0093cc;
	font-weight: normal;
}

.panel p {
	margin: 0;
	color: #000;
	font-size: 14px;
}

.panelgroup {
	position: relative;
}

#flashcontainer {
	display: none;
	width: 960px;
	height: 730px;
	position: absolute;
	margin: 0 auto;
	overflow: hidden;
	z-index: 0;
}

/* Homepage Video Classes */
.js #home #nav,
.js #home #bg_pageSpecific,
.js #home #logo_biotrue,
.js #home #content,
.js #home #features,
.js #home #footer { display: none; }

/* Lightvideo */
#lightvideo_overlay { display: none; width: 100%; height: 100%; z-index: 9999; position: absolute; top: 0px; left: 0px; background: #000; opacity: 0.5; filter: alpha(opacity=50); -ms-filter: "alpha(opacity=50)"; }
.lightvideo_positioning { display: none; position: absolute; top: 0px; left: 0px; z-index: 99999; background: #fff; padding: 20px; width: 480px; min-height: 270px; }
.lightvideo_player { display: none; }