body {
	background-image: url(../img/bg.ecp.gif);
	background-color: #a6f5a3;
}

#content {
	margin: 70px auto 0;
	width: 960px;
	top: 0px;
	padding-bottom: 30px;
}
/*
* HTML #content {
	height: 570px;
}*/

.ecp #logo_biotrue {
	position: absolute;
	top: -230px; /* equals the height of navigation in doc flow + top margin of content div */
}

.ecp #nav {
	
}

.ecp #nav .sub {
	z-index: 1000;
}
	
.ecp #nav .sub li {
	font-size: 11px;
	line-height: 11px;
}

.ecp #nav #navlist li ul {
	position: absolute;
}

.ecp #nav #navlist #nav_consumer img.off {
	-moz-box-shadow:0 0 5px #999999;
}

.ecp #nav li#nav_proHome {
	position: absolute;
	top: 0px;
	right: 590px;
}

.ecp #nav li#nav_world {
	position: absolute;
	top: 0px;
	right: 426px;
}

.ecp #nav li#nav_about {
	position: absolute;
	top: 0px;
	right: 309px;
}

.ecp #nav li#nav_articles {
	position: absolute;
	top: 0px;
	right: 240px;
}

.ecp #nav li#nav_resources {
	position: absolute;
	top: 0px;
	right: 154px;
}

.ecp #nav li#nav_events {
	position: absolute;
	top: 0px;
	right: 93px;
}

.ecp #nav li li.selected {
	background: url(../img/bullet_green.gif) no-repeat 0em 0.3em;
	#background: url(../img/bullet_green.gif) no-repeat 0em 0.2em;
}

.ecp #nav li#nav_consumer {
	position: absolute;
	top: 0px;
	right: 10px;
}

#proHome #bg_pageSpecific {
	display: block;
	position: absolute;
	overflow: hidden;
	background: url(../img/bg_proHome.png) no-repeat center 150px;
}

#proHome #content {
	margin: 70px auto 100px;
}

/*****************/
a { color: #0093CC; text-decoration: none; }
a:hover { color: #4AB64E; }
H2 { font-size: 16px; }
#content p {
	margin-bottom: 0.75em; 
}
#content .intro { margin-bottom: 30px; }
#content .intro p,
#content .intro ul,
#content .intro div { font-size: 16px; line-height: 23px; }
#content .intro h2 { font-size: 18px; }
#content .intro ul { margin-top: 0; }

#content p.note { 
	font-size: 12px; line-height: 18px; 
}

ul.generic li {
	background: url(../img/bullet_green.gif) no-repeat 0em 0.7em;
	padding: 2px 0 2px 10px;
	margin: 0px;
	position: relative;
	z-index: 100;
}

#proHome #content {
	width: 480px;
	padding: 15px 460px 0 20px; 
	
}

#proHome h1#home_h1 {
	background: url(../img/hdr/home_h1.gif) no-repeat;
	height: 35px;
	margin-bottom: 6px;
}

#proHome #content h1 span, #proHome #content h2 span {
	display: none;
}

#proHome #content h2 {
	background: url(../img/ecp_hdr/proHome_h2.gif) no-repeat;
	height: 20px;
	margin-bottom: 20px;
}

#proHome #content p.note { 
	margin-top: 35px; 
}

#contentLayout { width: 100%; }
#contentLayout:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#contentHdr { padding: 10px 0 0 260px; }
* HTML #contentHdr { zoom: 1; }
#navCol { width: 170px; float: left; position: relative; z-index: 10;}
#mainCol { width: 680px; float: right; padding-right: 20px; }

UL.subNav { margin: 0 0 30px; }
UL.auxNav { margin: 0 0 40px; }
UL.subNav LI { background: url(../img/bg.subnav.png) no-repeat; padding: 8px 0 8px 20px; }
UL.subNav UL { margin: 0; }
UL.subNav UL LI { padding: 8px 0 0; font-size: 12px; background: none; border: 0; }
UL.subNav UL LI a { background: url(../img/bullet.subnav.gif) no-repeat 0 4px; display: inline-block; padding-left: 10px; }
UL.subNav UL LI a:hover { background-position: -200px 4px; }
UL.auxNav LI { background: url(../img/bg.subnav.png) no-repeat; padding: 9px 0 9px 20px; font-size: 12px; }
UL.auxNav A { color: #666; }
* HTML #navCol LI { background: none; zoom: 1; }
* HTML #navCol LI { border-bottom: 1px solid #DDD; }
* HTML UL.subNav UL LI { border: 0 !important; }
#navCol LI:first-child { background: none; }
UL.auxNav A:hover,
#navCol A.active { color: #4AB64E; }
UL.refNav { margin: 30px 0; }
UL.refNav LI { padding: 9px 0 9px 20px; font-size: 12px; border: 0 !important; }
UL.refNav A { color: #666; }
UL.refNav A:hover { color: #4AB64E; }


#world #bg_pageSpecific {
	display: block;
	position: absolute;
	overflow: hidden;
}

#world #globe {
	position: absolute; 
	right: -10px;
	top: -140px;
	z-index: -1;
}
#world .learnMoreLink { margin: 30px 0 0 -15px; }

.biLanding #contentHdr .header { height: 190px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.biLanding.gif) no-repeat; }
.aboutLanding #contentHdr .header { height: 190px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.aboutLanding.gif) no-repeat; }
.articleLanding #contentHdr .header { height: 190px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.articleLanding.gif) no-repeat; }
.disinfectionLanding #contentHdr .header { height: 120px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.disinfectionLanding.gif) no-repeat; }
.clinicalIsolates #contentHdr .header { height: 120px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.clinicalIsolates.gif) no-repeat; }
.faqPage #contentHdr .header { height: 80px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.aboutFAQ.gif) no-repeat; }
.resourcesLanding #contentHdr .header { height: 155px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.resources.gif) no-repeat; }
.eventsLanding #contentHdr .header { height: 215px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.events.gif) no-repeat; }
.fdaIsoStandards #contentHdr .header { height: 115px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.aboutFDA.gif) no-repeat; }
.tearsPage #contentHdr .header { height: 90px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.aboutpH.gif) no-repeat; }
.lubePage #contentHdr .header { height: 90px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.aboutHA.gif) no-repeat; }
.proteinPage #contentHdr .header { height: 130px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.aboutProtein.gif) no-repeat; }
.samplePage #contentHdr .header { height: 120px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.aboutSample.gif) no-repeat; }


#disinfection #contentHdr { background: url(../img/innovation4.png) no-repeat 100% -7px; }
#tears #contentHdr { background: url(../img/innovation2.png) no-repeat 100% -7px; }
#lube #contentHdr { background: url(../img/innovation1.png) no-repeat 100% -7px; }
#protein #contentHdr { background: url(../img/innovation3.png) no-repeat 100% -7px; }

#articleListWrap { margin: 0 -18px 0 -22px; }
#articleList { background: url(../img/bg.articleList.top.png) no-repeat; padding: 12px 29px 0 33px; }
#articleList .item { padding: 15px 29px 25px 19px; background: url(../img/bg.articleList.item.gif) no-repeat 0 100%;}
#articleList .item-last { background: url(../img/bg.articleList.last.jpg) no-repeat 0 100%; min-height: 138px; }
#articleList H2 { font-size: 18px; line-height: 24px; font-weight: normal; margin-bottom: 1px; color: #0093CC; }
#articleList P { margin-bottom: 5px; }
#articleList .teaser { margin: 15px 80px 10px 0; }
#articleList .teaser p { font-size: 12px; line-height: 18px; }
#articleList .author { color: #4AB64E; margin-bottom: 12px; }
#articleListWrap .cap { padding-top: 41px;  background: url(../img/bg.articleList.cap.png) no-repeat; }
* HTML #articleListWrap { margin-right: 0px; margin-left: 0px; }
* HTML #articleList { background: #FFF; padding: 9px; border: 2px solid #F3F3F3; }
* HTML #articleListWrap .cap { background: none;  }
* HTML #articleList .item-last { height: 138px; }

#innovations {
	margin-top: 35px;
	/*padding-bottom: 20px;*/
}

#innovations h2 {
	font-weight: normal;
	font-size: 18px;
}

#innovations h2 a span { 
	color: #4AB64E;
}

#innovations p {
	margin-bottom: 2px;
}

#innovations img {
	float: left;
	padding-right: 10px;
}

#innovations .innovation {
	overflow: auto;
	margin-bottom: 20px;
}

#innovation1, #innovation2, #innovation3 {
	border-bottom: 1px solid #999;
}

.frame { margin: 10px -20px 40px; padding: 0 20px 10px; background: url(../img/bg.frame.680.png) no-repeat 50% 100%; }
.frame:first-child { margin-top: 0; }
* HTML .frame { margin: 10px 0 50px; padding: 0; background: none; border-bottom: 1px solid #999; }
.frame IMG { display: block; border: 1px solid #EEE; }
.frame OBJECT { background: #FFF;}
.disinfectionLanding .linkButton { text-align: right; margin-right: -25px; }
.linkBar { margin: 0 -25px 50px; padding-top: 5px; width: 730px;}
.linkBar .btn1 { float: left; }
.linkBar .btn2 { float: right; }

#mainCol .layout2Col { overflow: hidden; }
* HTML #mainCol .layout2Col { zoom: 1; }
#mainCol .layout2Col .col1 { float: left; width: 320px; }
#mainCol .layout2Col .col2 { float: right; width: 320px; }

.eventsLanding H2 { font-size: 24px; margin: 0 0 15px; padding-bottom: 10px; font-weight: normal; color: #0093CC; background: url(../img/bg.hr.320.png) no-repeat 50% 100%; }
H2.hdr_aoa-activities SPAN { display: block; height: 20px; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.aoa-activities.gif) no-repeat; }
H2.hdr_calendar-events SPAN { display: block; text-indent: -9999px; background: url(../img/ecp_hdr/hdr.ecp.calendar-events.gif) no-repeat; }
.event { font-size: 12px; padding-bottom: 15px; margin-bottom: 15px; background: url(../img/bg.hr.320.png) no-repeat 50% 100%; }
* HTML .eventsLanding H2,
* HTML .event { background: none;  border-bottom: 1px solid #CCC; }
.event .date { font-size: 14px; text-transform: uppercase; color: #4AB64E; font-weight: bold; margin-bottom: 2px; letter-spacing: 2px; }
.event H3 { font-size: 18px; color: #0093CC; margin: 0 0 15px; }
.event P { margin: 0 0 12px !important; }
.event .venue { text-transform: uppercase; line-height: 16px; margin-bottom: 15px; }

.resourceList { margin-top: 35px; }
.resourceList .item { padding-bottom: 30px; margin-bottom: 30px; background: url(../img/bg.resourceList.item.png) no-repeat 0 100%; }
.resourceList .item:last-child { background: none; }
* HTML .resourceList .item { background: none;  border-bottom: 1px solid #CCC; }
.resourceList H2 { font-size: 18px; line-height: 24px; font-weight: normal; color: #0093CC; }
.resourceList P { margin-bottom: 5px; }
.resourceList .link { font-size: 12px; }

#navCol .aside { padding-left: 20px; margin-bottom: 10px; }
#navCol .aside p,
#navCol .aside div { font-size: 12px; line-height: 16px; }
#navCol .aside p { margin-bottom: 0.5em; }
#navCol .aside H4 { font-size: 14px; line-height: 18px; color: #0093CC; margin: 0; font-weight: normal; }
#navCol .divider { background: url(../img/bg.subnav.png) no-repeat; padding-top: 9px; }
* HTML #navCol .divider { background: none; border-top: 1px solid #DDD; }
#navCol .legend { margin-top: 40px; }
#navCol .legend img.key { vertical-align: middle; margin-right: 5px; }

#feat_pc {
	margin: 55px 0 35px -11px;
}

/**[href="TEST"] { border: 2px solid red; }*/

.hr { background: url(../img/bg.hr.680.png) no-repeat 50% 0; height: 1px; margin: 20px 0; }
* HTML .hr { background: #CCC; }
.hr hr { display: none; }

.ecp .panel {
	left: -14px;
}

.ecp .panel h1 {
	font-size: 12px; 
	letter-spacing: 0.1em; 
	line-height: 20px; 
	border-bottom: 1px solid #666;
	padding: 0 0 15px 0;
	margin: 0 0 18px 0;
}

.ecp .panel p { 
	font-size: 18px !important; 
	line-height: 25px !important; 
	color: #777;
	padding: 10px;
}

#about #innovations p {
	margin-bottom: 5px;
}

#about .panelgroup {
	margin: 50px 0 0 0;
	position: relative;
}

#about .panelgroup .stockimg {
	position: absolute;
	top: -20px;
	right: -20px;
	width: 218px;
	height: 203px;
}

#about .panelgroup .content {
	margin-bottom: 10px;
}

#about #top-img {
	background: url(../img/package-small.png) no-repeat center; 
	width: 100%; height: 301px; 
	position: absolute; 
	top: 150px;
}

#resources #top-img {
	background: url(../img/package-small.png) no-repeat center; 
	width: 100%; height: 301px; 
	position: absolute; 
	top: 150px;
}

#resources #mainCol #additional  {
	width: 400px;
}

#events #top-img {
	background: url(../img/package-small.png) no-repeat center; 
	width: 100%; height: 301px; 
	position: absolute; 
	top: 150px;
}

#faq #faq-panel .content {
	padding: 30px 30px 15px 30px;
}

#faq #faq-panel .question {
	color: #0093cc;
	font-size: 13px;
	line-height: 20px;
	cursor: pointer;
	cursor: hand;
}

#faq #faq-panel .question a {
	text-decoration: underline;
}

#faq #faq-panel .answer {
	color: #000;
	font-size: 13px;
	line-height: 20px;
	display: none;
	width: 490px;
}

#faq #faq-panel ul {
	list-style: none;
	margin: 0;
}

#faq #faq-panel ul li {
	padding: 15px 0;
	background: url(../img/faq_horizontalrule.png) no-repeat bottom;
}

#faq #faq-panel ul li:first-child {
	padding-top: 0;
}

#faq #faq-panel ul li.last {
	background: none;
}

#samples iframe {
	width: 500px;
	#width: 630px;
	height: 400px;
	#height: 500px;
	border: none;
	overflow: visible;
	border: 0px;
}

#samples iframe form td {
	font-size: 11px !important;
}

#world #content {
	min-height: 550px;
	#height: 550px;
}

#world .wideCTA {
	position: relative;
	left: -17px;
}

#world #flashcontainer {
	position: absolute;
	top: -200px !important;
}

.ecp #tooltip_references {
	width: 700px;
}

.closeOverlay {
	position: absolute; 
	right: 19px;
	top: 8px;
	cursor: pointer;
}




#coupon #faq-panel .content {
	padding: 30px 30px 15px 30px;
}

#coupon #faq-panel .question {
	color: #0093cc;
	font-size: 13px;
	line-height: 20px;
	cursor: pointer;
	cursor: hand;
}

#coupon #faq-panel .question a {
	text-decoration: underline;
}

#coupon #faq-panel .answer {
	color: #000;
	font-size: 13px;
	line-height: 20px;
	display: none;
	width: 490px;
}

#coupon #faq-panel ul {
	list-style: none;
	margin: 0;
}

#coupon #faq-panel ul li {
	padding: 15px 0;
	background: url(../img/faq_horizontalrule.png) no-repeat bottom;
}

#coupon #faq-panel ul li:first-child {
	padding-top: 0;
}

#coupon #faq-panel ul li.last {
	background: none;
}