 <!--         <img class="py-2 img-responsive" src="image/phase2/Desktop/content-content@2x.png">
 -->


 <h3 class=" headerNormalWeight headerPrimaryColor">博士倫（香港）有限公司</h3>
 <p style="font-size: 16px;" class=" headerPrimaryColor" >
 	<i style="font-size: 26px;" class="fa fa-map-marker" aria-hidden="true"></i>
 	香港九龍灣宏遠街一號<br/>壹號九龍十五樓<br/>1502-07室</p>

 	<h3 class="headerNormalWeight headerPrimaryColor">Bausch & Lomb (HK) Ltd</h3>
 	<p style="font-size: 16px;" class=" headerPrimaryColor" >
 		<i style="font-size: 26px;" class="fa fa-map-marker" aria-hidden="true"></i>
 		Room 1502-1507 15/F One Kowloon<br/>1 Wang Yuen Street<br/>Kowloon Bay<br/>Hong Kong</p>      
 		<h4 class=" headerPrimaryColor" style="margin-top: 3rem;" >如有任何問題、意見，產品查詢或不良反應，請立即與我們聯絡：</h4>
 		<a href="mailto:blhkmktg@bausch.com"><h4 class="headerNormalWeight headerPrimaryColor"> <i style="font-size: 20px; padding-right: 5px;" class="fa fa-envelope" aria-hidden="true"></i>blhkmktg@bausch.com</h4></a>

 		<h4 class="headerNormalWeight headerPrimaryColor"><img style="margin-right: 2px;" width="22" height="22" src="./image/phase2/Desktop/contact-phone@2x.png"></i>(852) 2213 3309</h4>