<!-- Footer.html -->
<div class="container">
	<div class="row mx-0 justify-space-between" style="padding:10px 0px; background: #fff">
		<div class="col-md-2 text-left footer-text-center-mobile">
			<h5 style="font-size: 14px; font-weight: normal;"><a href="./terms.html" style="text-decoration: none; color:#555">政策及聲明</a></h5>
		</div>
		<div class="col-md-10 text-right footer-text-center-mobile">
	<h5 style="font-size: 12px; font-weight: normal; color:#555;">© 2020 Bausch & Lomb Incorporated. ®/™ are trademarks of Bausch & Lomb Incorporated or its affiliates. HK-VC-2020-03-015 </h5>
		</div>
	</div>
</div>
<style type="text/css">
@media (max-width: 1100px) {
	.footer-text-center-mobile{
		text-align: center !important;
	}
}
</style>