<!-- header.html -->
<!-- <title>真。保濕 博士倫Biotrue 1-DAY系列</title>
 --><div class="navbarSpace" ></div>
<nav class="navbar navbar-default whiteBackgroundWithoutBorder navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div id="section1" class="navbar-header whiteBackgroundWithoutBorder">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-container" aria-expanded="false" style="margin-top: 13px; border: 0px rgba(0,0,0,0);">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href='./index.html' ><img class="logo pointer" src="image/bausch_logo.png" width="120" height="55" style="margin-top: 10px; margin-bottom:10px;" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="menu-container" class="collapse navbar-collapse">
            <ul id="desktop-menu" class="nav navbar-nav navbar-right">
               <!--  <li class="text-center"><a href="./index.html" class="destktop-menu-item navText">Biotrue系列</a></li> -->
               <li class="dropdown text-center">
                  <a href="./index.html" class="destktop-menu-item navText">Biotrue系列</a>
                  <div class="dropdown-content">
                    <a href="./index.html#productSection1">近視/遠視</a>
                    <a href="./index.html#productSection2">散光</a>
                    <a href="./index.html#productSection3">漸進</a>
                    <a href="./index.html#titleDivider2">產品資訊</a>
                    <a target="_blank" href="http://www.biotrue.com.hk/mps/homepage.html">隱形眼鏡藥水</a>
                </div>
            </li>
            <li class="text-center"><a href="./purchase.html" class="destktop-menu-item navText">購買優惠</a></li>
            <li class="text-center"><a href="./storelist.html" class="destktop-menu-item navText">試戴優惠</a></li>
            <!-- <li class="text-center"><a href='./storelist.html' class="destktop-menu-item navText">購買地點</a></li> -->
            <li class="text-center"><a href='./contactus.html' class="destktop-menu-item navText">聯絡我們</a></li>

            <li id="fb-icon" class="text-center "><a target="_blank" href="https://www.facebook.com/BauschandLombHK/"><img src="image/desktop_fb_icon.png" class="navLogo" style="margin-right: -10px;" /></a></li>
            <li id="yt-icon" class="text-center"><a target="_blank" href="https://www.youtube.com/channel/UCBTzKzdqRY_BOUkadtLwhvQ"><img src="image/desktop_youtube_icon.png" class="navLogo" style="margin-right:20px;" /></a></li>
        </ul>
        <ul id="mobile-menu" class="nav navbar-nav navbar-right">
            <li class="text-center mobileDropdownMenu"><a class="menu-item navTextMobile">Biotrue系列</a>
             <li class="mobileDropdownContent" style="display: none;"><a href="./index.html#productSection1">近視/遠視</a></li>
             <li class="mobileDropdownContent" style="display: none;"><a href="./index.html#productSection2">散光</a></li>
             <li class="mobileDropdownContent" style="display: none;"><a href="./index.html#productSection3">漸進</a></li>
             <li class="mobileDropdownContent" style="display: none;"><a href="./index.html#titleDivider2">產品資訊</a></li>
             <li class="mobileDropdownContent" style="display: none;"><a target="_blank" href="http://www.biotrue.com.hk/mps/homepage.html">隱形眼鏡藥水</a></li>
         </li>
         <li class="text-center"><a  href="./purchase.html" class="menu-item navTextMobile">購買優惠</a></li>
         <li class="text-center"><a  href="./registration.html" class="menu-item navTextMobile">試戴優惠</a></li>
         <!-- <li class="text-center"><a href="./storelist.html" class="menu-item navTextMobile">購買地點</a></li> -->
         <li class="text-center"><a href="./contactus.html" class="menu-item navTextMobile">聯絡我們</a></li>

         <li id="media-icons">
            <div class="col-xs-12 text-center" style="margin-top:15px;">
                <a target="_blank" href="https://www.facebook.com/BauschandLombHK/"> <img src="image/mobile_fb_icon.png" class="navLogoMobile" /></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCBTzKzdqRY_BOUkadtLwhvQ"> <img src="image/mobile_youtube_icon.png" class="navLogoMobile" /></a>
            </div>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TH5BGLK');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TH5BGLK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67799972-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-67799972-3');
</script>


<script type="text/javascript">

    var isDropdownShow = false;

$('.mobileDropdownMenu').click(function() {
    if(isDropdownShow){
        $(".mobileDropdownContent").removeAttr('style').css('display','none');
    }else{
        $(".mobileDropdownContent").removeAttr('style').css('display','block');
    }
    isDropdownShow = !isDropdownShow;   
});


    $('a').click(function() {

        let pathname = window.location.pathname;
        let path = pathname.split('/');
        let pagename = path[path.length - 1 ];

        // Other pages case
        if(pagename != 'index.html'){
            return;
        }

        if (($(this).attr('href'))) {
            let sectionName = $(this).attr('href').split('#');
            let sectionLength = sectionName.length;
            if(sectionLength < 2){return;} 
            let section = sectionName[sectionLength - 1 ];

            $('html, body').animate({
                scrollTop: $('#'+section ).offset().top - 100 
            }, 500);
            return false;
        }
    });

</script>